@font-face{
  font-family: "lora";
  src: url("fonts/Lora[wght].tff");
}

@font-face{
  font-family: "Source Sans Pro";
  src: url("fonts/SourceSansPro-Regular.tff");
}

@font-face{
  font-family: ;
  src: ;
}



h1, th, button{
  font-family: "lora", sans-serif;
}

p, a, td, ul, input, h2,  label, h3{
  font-family: "Source Sans Pro", sans-serif;
}

.*{
  overflow-x: scroll !important;
}
/* -------------------------SEARCH BAR TABLE--------------------------*/
.search-container{
  display: inline-table;

}
.search-container input{
  margin-right: 5px;

}
.search-container input[type=text]{
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: 3px solid #378DFC;
  margin-bottom: 5px;
  border-radius: 5px;
}

.search-container input[type=month]{
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: 3px solid #378DFC;
  margin-bottom: 5px;
  border-radius: 5px;
}

.search-container input[type=number]{
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: 3px solid #378DFC;
  margin-bottom: 5px;
  border-radius: 5px;
}
.search-container button{

  margin-top: 12px;
  margin-right: 5px;
}

.search-container label{
  margin-left: 5px;
  margin-right: 5px;
  
}
.right-container{
  float: right !important;

}


/* -------------------------SEARCH BAR TABLE--------------------------*/
/* -------------------------SOA TABLE--------------------------*/

.soa_table{
border: 2px solid #C5C6CA;
table-layout: fixed;
}
.soa_table b{
width: 100px;
}
.soa_table table, th, td{
background: #EFEFEF;
border: 2px solid black;
}
.soa_table td{
text-align: left;
padding: 5px;
width: auto;
}
.soa_table tbody{
padding: 0;
}
.soa_table tbody tr td:nth-child(odd){
width: 100px;
}
.soa_table tbody tr td:nth-child(even) {
width: 200px;
}
.soa_table hr.solid {
border: 2.3px solid #C5C6CA;
height: 1px;
}
.soa_table_container{
border: 2px solid #C5C6CA;
background-color: #EFEFEF;
min-height: 100px;
overflow: hidden;
width: auto;
margin: 0px auto;
padding: 5px;
}
.soa_table_left{
background-color: #efefef;
color: #000;

width: 48%;
float: left;
}
.soa_table_right{ 
background-color: #efefef;
color: #000;
width: 48%;
float: right;
}

.admin_left{
height: auto;
width: 48%;
float: left;
}

.admin_right{ 
height: auto;
width: 48%;
float: right;
margin-top: 47px;
}

.admin_right_nomargin{ 
height: auto;
width: 48%;
float: right;
}

/* -------------------------SOA TABLE--------------------------*/
/* --------------------ADDITIONAL BUTTONS----------------------*/
.radio {
  margin: 0.5rem;
  margin-left: 100px;
  font-size: 15px;
}
.radio input[type=radio] {
  position: absolute;
  opacity: 0;
}
.radio input[type=radio] + .radio-label:before {
  content: "";
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.radio input[type=radio]:checked + .radio-label:before {
  background-color: #3197EE;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio input[type=radio]:focus + .radio-label:before {
  outline: none;
  border-color: #3197EE;
}
.submit input[type="submit"] {
  margin-top: 15px;
  background: #5DC68C; 

  padding: 6px 0px 6px 0px;
  width: 40%;
  border: 2px solid grey;
  color: black;
  border-radius: 7px;
  transition: 0.25s;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  font-size:  16px;
}
.submit input[type="submit"]:hover {
  color: white;
  background: #0B9560;
}
.submit input[type="submit"]:visited {
  text-decoration: none;
}
.submit input[type="submit"]:active {
  color:  red;
  background-color: white;
  transition: 0.25s;
}

.submit button[type="submit"] {
  margin-top: 15px;
  background: #5DC68C; 

  padding: 6px 0px 6px 0px;
  width: 40%;
  border: 2px solid grey;
  color: black;
  border-radius: 7px;
  transition: 0.25s;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  font-size:  16px;
}
.submit button[type="submit"]:hover {
  color: white;
  background: #0B9560;
}
.submit button[type="submit"]:visited {
  text-decoration: none;
}
.submit button[type="submit"]:active {
  color:  red;
  background-color: white;
  transition: 0.25s;
}

.button_submit {
  margin-top: 15px;
  background: #5DC68C; 

  padding: 6px 0px 6px 0px;
  width: 40%;
  border: 2px solid grey;
  color: black;
  border-radius: 7px;
  transition: 0.25s;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  font-size:  16px;
}
.button_submit:hover {
  color: white;
  background: #0B9560;
}
.button_submit:visited {
  text-decoration: none;
}
.button_submit:active {
  color:  red;
  background-color: white;
  transition: 0.25s;
}



.submit2 input[type="submit"] {
  margin-top: 15px;
  background: #5DC68C;
  display: block;
  padding: 6px 0px 6px 0px;
  width: 61%;
  border: 2px solid grey;
  color: black;
  border-radius: 7px;
  transition: 0.25s;
  font-family: "Source Sans Pro", sans-serif;
  font-size:  16px;
}
.submit2 input[type="submit"]:hover {
  color: white;
  background: #0B9560;
}
.submit2 input[type="submit"]:visited {
  text-decoration: none;
}
.submit2 input[type="submit"]:active {
  color:  red;
  background-color: white;
  transition: 0.25s;
}

/* -------------------------- ANNOUNCEMENTS --------------------------*/
.a_details{
  width: 70%;
  margin: auto;
  border: 2px solid #8ea6e4;
  border-radius: 10px;
  padding: 7px;

}
.a_details_inside{
  margin-right: 20px;
  margin-left: 20px;
}








/* -------------------------- ERROR MESSAGE --------------------------*/
.err_message p{
  color: red;

  text-align: left;
}

/* -------------------------- CALENDAR CSS --------------------------*/
.month {
  cellspacing: 500px;
  cellpadding: 500px;
  height: 20px;
  width: 200px;
  border: 3px solid black;
  background: #5DC68C;
}
.mon {
  height: 20px;
  width: 30px;
  border: 1px solid black;
  background: #A4E3CA;
}
.tue {
  height: 20px;
  width: 200px;
  border: 1px solid black;
  background: #A4E3CA;
}
.wed {
  height: 20px;
  width: 200px;
  border: 1px solid black;
  background: #A4E3CA;
}
.thu {
  height: 20px;
  width: 200px;
  border: 1px solid black;
  background: #A4E3CA;
}
.fri {
  height: 20px;
  width: 200px;
  border: 1px solid black;
  background: #A4E3CA;
}
.sat {
  height: 20px;
  width: 200px;
  border: 1px solid black;
  background: #A4E3CA;
}
.sun {
  height: 20px;
  width: 200px;
  border: 1px solid black;
  background: #A4E3CA;
}


.calendar {
  width: 90%;
  margin: auto;
  font-size: 15px;
  background: white;
}

.calendar tr,
.calendar td {
  border: 1px solid black;
  text-align: left;
  height:auto;
  overflow: hidden;
  
}

.calendar th {
  padding: 10px;
  /*text-align: center;*/
  font-size: 18px;
  font-family: Source Sans Pro;
}

.calendar td {
  width: 200px;
  height: 120px;
  padding: 20px 0px 0px 5px;
}
/*.calendar td:hover {
  background: #f2b3df;
}*/
.month {
  font-size: 20px;
  color: black;
}

.date {
  font-size: 17px;
  color: black;
  margin-left: 10px;


}

.calendar ul {
  height: auto;
  padding: 0px 5px 0px 20px;
  color: darkgreen;
}

/* end of calendar */





/* Start of form */

.payment_form{
  font-size: 16px;
  margin-top: 0px;

}

.payment_form[type='search']{
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  position: relative;
  width: 43.9%;
}

.payment_form[type='submit']{
  color: red;
}


.fa { /* to override fa sa login page */ /* fa for proof of payment */
  font-size: 19px;
  width: 35px;
  text-align: center;
  text-decoration: none;
}

input[type="file"] {
    display: none;
}

/*input[type="submit"] {
    display: none;
}*/


.custom-file-upload {
    margin-left:200px;
    padding: 16px 8px 16px 8px;
    color: black;
    background-color: #5DC68C;
    border: 2px solid grey;
    border-radius: 7px;
    font-size:  16px;
    cursor: pointer;
}

.custom-file-upload:hover {
  color: white;
  cursor: pointer;
  background-color: #0B9560;
}
.custom-file-upload:active {
  color: red;
  background-color: white;
}

.custom-file-upload-2 {
    margin-left:50px;

    padding: 20px 10px 20px 10px;
    color: black;
    background-color: #5DC68C;
    border: 2px solid grey;
    border-radius: 7px;
    font-size:  16px;
    cursor: pointer;
}

.custom-file-upload-2:hover {
  color: white;
  cursor: pointer;
  background-color: #0B9560;
}
.custom-file-upload-2:active {
  color: red;
  background-color: white;
}



.cool_form{
  font-size: 20px;
  margin-top: 50px;
}
.cool_form label{
  text-align: left;
}
.cool_form input{
  float: right;
  clear: both;
}
.cool_form textarea{
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  margin-left: 53.5%;
  height: 200px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid black; 
}
.cool_form input[type=desc]{
  border-radius: 10px;
  background-color: white;
  padding-left:10px;
  
  width: 43.9%;
  height: 100px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid black; 
}

.cool_form input[type=search]{
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  width: 43.9%;
}
.cool_form input[type=password]{
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  width: 43.9%;
}
.cool_form input[type=radio]{
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  width: 43.9%;
}
.cool_form input[type="submit"] {
  margin-top: 15px;
  background: #5DC68C;
  display: block;
  padding: 6px 0px 6px 0px;
  width: 100%;
  border: 2px solid grey;
  color: black;
  border-radius: 7px;
  transition: 0.25s;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  font-size:  16px;
}
.cool_form input[type="submit"]:hover {
  color: white;
  background: #0B9560;
}
.cool_form input[type="submit"]:visited {
  text-decoration: none;
}
.cool_form input[type="submit"]:active {
  color:  red;
  background-color: white;
  transition: 0.25s;
}
.cool_form input[type=number]{
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  
  width: 40%;
}

.cool_form input[type=date]{
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  
  width: 40%;
}

.cool_form input[type=description]{
  margin-top: 3px; 
  width: 480px; 
  border-radius: 7px;
  border: 3px solid #054A30;
  min-height: xxx;
  overflow: hidden;
  display: inline-block;
  height: 50px;
}

.select-items {
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  position: relative;
  width: 43.9%;

}

.cool_form-l input[type=description]{
  margin-top: 3px; 
  width: 350px; 
  border-radius: 7px;
  border: 3px solid #054A30;
  min-height: xxx;
  overflow: hidden;
  display: inline-block;
  height: 30px;
  margin-left: 40px;
}

.cool_form-r input[type=number]{
  width: 60px;
  border-radius: 7px;
  border: 3px solid #054A30;
  min-height: xxx;
  overflow: hidden;
  display: inline-block;
  height: 25px;
}

.cool_form-r input[type=box]{
  width: 350px; 
  border-radius: 7px;
  border: 3px solid #054A30;
  min-height: xxx;
  overflow: hidden;
  display: inline-block;
  height: 30px;
}
.cool_form-r input[type=text]{
  width: 200px;
  border-radius: 7px;
  border: 3px solid #054A30;
  min-height: xxx;
  overflow: hidden;
  display: inline-block;
  height: 25px;
}

.cool_form-r input[type=text2]{
  width: 150px;
  border-radius: 7px;
  border: 3px solid #054A30;
  min-height: xxx;
  overflow: hidden;
  display: inline-block;
  height: 25px;
}

.cool_form-r input[type=number]{
  width: 150px;
  border-radius: 7px;
  border: 3px solid #054A30;
  min-height: xxx;
  overflow: hidden;
  display: inline-block;
  height: 25px;
}


/* end of form */
/* Start of table */
.admin-table{
 
  width: auto;
  margin: 0px auto;
  border-radius: 5px;
  border: 3px solid #378DFC;
  min-height: xxx;
  overflow: hidden;
}
.admin-table th{
  background: #D9E3F1;

}

.admin-table td{
  background-color: #D7E8FE;
}




.table-items{
  margin-top: 5px; 
  width: 450px; 
  border-radius: 15px;
  border: 3px solid #054A30;
  min-height: xxx;
  overflow: hidden;
  display: inline-block;
}

.table-items-tabular{
  width: 95%;
  margin: 0px auto;
  border-radius: 15px;
  border: 3px solid #054A30;
  min-height: xxx;
  overflow: hidden;
  
}
.table-items-smol{
  margin-top: 5px; 
  width: 450px; 
  border-radius: 15px;
  border: 3px solid #054A30;
  min-height: xxx;
  overflow: hidden;
  display: inline-block;
  
}
table{
  width: 100%;
  border-collapse: collapse;
  overflow-x:auto;
}

table td, table th {
  border: 1px solid rgb(197, 198, 202);
}
table tr:first-child th {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child,table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,table tr th:last-child {
  border-right: 1px solid rgb(197, 198, 202);
}
th, td, tr{
  padding: 20px;
  text-align: center;
}
.table-header{
  background-color: rgb(65, 98, 247);
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
/* end of table */            


/* start of Details container */ 


.details-container{
  /*
  width: 100%;
  margin:  0x auto;
  overflow: hidden;
  text-align:center;
  position: relative;
  */
}
.details-container-left{
  margin-left: 240px;
  width: 500px;
  float: left;
  text-align: left;
  /*border-right: 1px solid grey;*/
}
.details-container-right{
  margin-right: 250px;
  text-align: right;
}
.details-container-right img{
  height: 220px;
}
.details-container-right dd{
  font-size: 18px;
}
.details-container-right p{
  margin-top: 30px;
}





.container_center{
  text-align: center;
}
.desc-box-outer{
  margin-top: 3px; 
  width: 450px; 
  border-radius: 7px;
  border: 3px solid #054A30;
  min-height: xxx;
  overflow: hidden;
  display: inline-block;
}
.desc-box-inner{
  padding: 10px;
  text-align: justify;
}
/* end of side by Details container */


/* start of Home containers */      
.main-title{
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.main-title img{
  border-radius: 5px;
  height: 220px;
  width: 100%;

}

.sub-details{
  text-align: center;
  font-size: 15px;
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}
.click-dis{
  display:block;
  cursor:pointer;
  color: black;
  text-decoration: none;
}
.click-dis:hover{
  color: black;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}
.i-container{
  background-color: rgb(254, 255, 255); 
  box-shadow: 1px 2px 8px 1px rgba(89,87,87,0.85);
  margin: 20px; 
  width: 290px; 

  border-radius: 5px;
  margin-left: 45px;
  margin-top: 40px;
  margin-bottom: 25px;
  min-height: xxx;
  overflow: hidden;
  - width: -webkit-fit-content;
  - width: fit-content;
}

.img-container{
  background-color: rgb(254, 255, 255); 
  box-shadow: 2px 3px 7px 2px rgba(89,87,87,0.85);
  border-radius: 5px;
  width: 290px;
  min-height: xxx;
  overflow: hidden;
  - width: -webkit-fit-content;
  - width: fit-content;
}

.img-container img{
  max-width:100%;
  max-height:100%;

}


/* end of Home containers */          



/* start of navbar */              
.dropdown {
  float: center;
  overflow: hidden;
  justify-content: center;
  margin-right: 110px;
  margin-left: 110px;
}
.dropdown_word{
  font-size: 16px;  
  color: black;
}
.dropdown .dropbtn{
  font-size: 16px;  
  border: none;
  outline: none;
  color: #4f5250;
  padding: 2px 4px;
  background-color: inherit;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  color:  white !important;
  -webkit-transition: color 200ms linear;
  -ms-transition: color 200ms linear;
  font-weight: bolder;
  
}
.navbar a:active{
  color: white;
  transition: 0.25s;
}
.dropdown-content {

  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}




.dropdown-content a{

  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;

}
.dropdown-content a:hover {
  transition: 0.5s;
  background-color: #5DC68C;
  font-weight: bolder;
  border-radius: 5px;
}
.dropdown-content a:active {
  background-color: white;


}

.dropbtn::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.dropbtn:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
} 

.dropbtn2::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.dropbtn2:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
} 


.dropdown:hover .dropdown-content {
  display: block;


}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}
.dropdown-content2 a{
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content2 a:hover {
  transition: 0.5s;
  background-color: #378DFC;
  font-weight: bolder;
  border-radius: 5px;
}
.dropdown-content2 a:active {
  background-color: white;
}

.dropdown:hover .dropdown-content2 {
  display: block;
}

.nav_header {
  position:absolute;
  left:0;
  top:0;
  width: 100%;
  background: #5DC68C; #COLOR BLUE #8ea6e4
  font-style: Lora ;
}
.nav_header {
  border: 2px solid grey;
}
.nav_header-admin {
  position:fixed;
  left:0;
  top:0;
  width: 100%;
  background: #378DFC; #COLOR PINK #5DC68C
  position: relative;
  font-style: Lora ;

  margin: 0;
}
.nav_header-admin {
  border: 1.5px solid grey;
}
.nav_title {
  flex: 1;
}
.nav_nav,
.logout_button,
.nav_links {
  display: flex;
  padding: 15px;
  text-align: center;
  justify-content: center;

}
.nav_nav {
  flex: 1;
}
.logout_button {
  position: absolute;
  padding: 6px 12px 6px 12px;
  top: 13px;
  right: 10px;
  flex: 1;
  font-size: 12px;
  justify-content: flex-end;
  color: #054A30;
  background-color: #5DC68C;
  border: 2px solid grey;
  border-radius: 10px;
}
.logout_button:hover {
  color: white;
  cursor: pointer;
  background-color: #0B9560;
}
.logout_button:active {
  color: red;
  background-color: white;
}

.logout_button_admin {
  position: absolute;
  padding: 6px 12px 6px 12px;
  top: 13px;
  right: 10px;
  flex: 1;
  font-size: 12px;
  justify-content: flex-end;
  color: black;
  background-color: #D9E3F1;
  border: 2px solid grey;
  border-radius: 10px;
}
.logout_button_admin:hover {
  color: white;
  cursor: pointer;
  background-color: #2763B1;
}
.logout_button_admin:active {
  color: red;
  background-color: white;
}

.button_admin {
  padding: 6px 18px 6px 18px;
  flex: 1;
  font-size: 14px;
  color: black;
  background-color: #D9E3F1;
  border: 2px solid grey;
  border-radius: 10px;
}
.button_admin:hover {
  color: white;
  cursor: pointer;
  background-color: #2763B1;
}
.button_admin:active {
  color: black;
  background-color: white;
}


.tabular_button-notopmargin{
  padding: 6px 17px 6px 17px;
  color: black;
  background-color: #5DC68C;
  border: 2px solid grey;
  border-radius: 7px;
  font-size:  14px;

}

.tabular_button-notopmargin:hover {
  color: white;
  cursor: pointer;
  background-color: #0B9560;
}
.tabular_button-notopmargin:active {
  color: blue;
  background-color: white;
}


a{
  text-decoration: none !important;
}

.tabular_button2{
  padding: 6px 0px 6px 0px;
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 10px;
  color: black;
  background-color: #5DC68C;
  border: 2px solid grey;
  border-radius: 7px;
  font-size:  16px;
  width: 125px;
}

.tabular_button2:hover {
  color: white;
  cursor: pointer;
  background-color: #0B9560;
}
.tabular_button2:active {
  color: red;
  background-color: white;
}

.tabular_button{
  padding: 6px 17px 6px 17px;
  margin-left: 50px;
  margin-top: 10px;
  color: black;
  background-color: #5DC68C;
  border: 2px solid grey;
  border-radius: 7px;
  font-size:  16px;
  width: 50px;
}

.tabular_button:hover {
  color: white;
  cursor: pointer;
  background-color: #0B9560;
}
.tabular_button:active {
  color: red;
  background-color: white;
}

.back_button{
  padding: 4px 0px 4px 0px;
  margin-top: 10px;
  margin-left: 50px;
  color: black;
  background-color: #5DC68C;
  border: 2px solid grey;
  border-radius: 7px;
  font-size:  16px;
  width: 70px;
  position: absolute;
}

.back_button:hover {
  color: white;
  cursor: pointer;
  background-color: #0B9560;
}
.back_button:active {
  color: red;
  background-color: white;
}

.back_button2{
  padding: 4px 0px 4px 0px;
  margin-top: 10px;
  
  color: black;
  background-color: #D9E3F1;;
  border: 2px solid grey;
  border-radius: 7px;
  font-size:  16px;
  width: 70px;
  position: absolute;
}

.back_button2:hover {
  color: white;
  cursor: pointer;
  background-color: #2763B1;;
}
.back_button2:active {
  color: red;
  background-color: white;
}





.tabular_button-left{
  padding: 6px 17px 6px 17px;
  /*margin-left: 500px;*/
  margin-top: 20px;
  color: black;
  width: 50px;
  background-color: #5DC68C;
  border: 2px solid grey;
  border-radius: 7px;
  font-size:  16px;
}

.tabular_button-left:hover {
  color: white;
  cursor: pointer;
  background-color: #0B9560;
}
.tabular_button-left:active {
  color: blue;
  background-color: white;
}

.tabular_button-right{
  padding: 6px 17px 6px 17px;
  float: right;
  margin-top: 20px;
  color: black;
  width: 50px;
  background-color: #5DC68C;
  border: 2px solid grey;
  border-radius: 7px;
  font-size:  16px;
}

.tabular_button-right:hover {
  color: white;
  cursor: pointer;
  background-color: #0B9560;
}
.tabular_button-right:active {
  color: blue;
  background-color: white;
}

.tabular_button-nomargins{
  padding: 6px 17px 6px 17px;
  margin-top: 10px;
  color: black;
  background-color: #5DC68C;
  border: 2px solid grey;
  border-radius: 7px;
  font-size:  16px;

}

.tabular_button-nomargins:hover {
  color: white;
  cursor: pointer;
  background-color: #0B9560;
}
.tabular_button-nomargins:active {
  color: blue;
  background-color: white;
}


.select-tag{
  padding: 6px 17px 6px 17px;
  color: black;
  background-color: #5DC68C;
  border: 2px solid grey;
  border-radius: 7px;
  font-size:  14px;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; 
  background-image: url(../images/arrow.png);
  background-size: 10px 10px;
}

/* ------------------ START OF LOG IN DESIGN ------------------ */
/*--- Social media buttons ---*/
.ff {
  padding: 15px;
  font-size: 19px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa { /* fa log in page */
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-android {
  background: #a4c639;
  color: white;
}
.fa-android:hover, .fa-google:hover {
  cursor: pointer;
}
/*--- Social media buttons ---*/


/*--- 2 buttons 1 line ---*/
.outer{
    width:100%;
    text-align: center;
}
.inner{
    display: inline-block;
}
/*--- 2 buttons 1 line ---*/
.company {
  margin-top: 50px;
  text-align: center;
  color: #0E1117;
}
.datsys {
  margin-top: 15px;
  text-align: center;
  color: #0E1117;
}
.login_body {
  background-color: #5DC68C;
}
/*
.login_box {
  width: 350px;
  padding: 40px;
  position: absolute;
  top: 61%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: #A4E3CA;
  border-radius: 25px;
  border: 3px solid #054A30;
}
*/
.login_box {
  width: 550px;
 
  padding: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #A4E3CA;
  border-radius: 25px;
  border: 3px solid #054A30;
  min-height: 100px;
  overflow: hidden;
}
.login_box h1 {
  color: black;
  text-transform: uppercase;
  font-weight: 500;
}
.login_box input[type="text"] {
  border: 0;
  background: #F1F1F1;
  text-align: center;
  border: 2px solid #5DC68C;
  padding: 14px 10px;
  width: 250px;
  outline: none;
  color: black;
  border-radius: 5px;
  transition: 0.25s;
  font-size: 16px;
}
.login_box input[type="password"] {
  border: 0;
  background: #F1F1F1;

  
  text-align: center;
  border: 2px solid #5DC68C;
  padding: 14px 10px;
  width: 250px;
  outline: none;
  color: black;
  border-radius: 5px;
  transition: 0.25s;
  font-size: 16px;
}
.login_box input[type="text"]:focus,
.login_box input[type="password"]:focus {
  width: 270px;
  border: 3px solid #054A30;
}
.login_box input[type="submit"] {
  border: 0;
  background: #F1F1F1;
  display: block;
  text-align: center;
  border: 3px solid #5DC68C;
  padding: 14px 40px;
  outline: none;
  color: black;
  border-radius: 10px;
  transition: 0.25s;
  cursor: pointer;
  font-weight: bold;
}
.login_box input[type="submit"]:hover {

  background: #5DC68C;
  border: 3px solid #054A30;
}
.login_box input[type="submit"]:visited {
  text-decoration: none;
}
.login_box input[type="submit"]:active {
  background: #5DC68C;
  transition: 0.25s;
}

.login_box_admin {
  width: 350px;
  padding: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: #2A3244;
  border-radius: 25px;
  border: 2px solid grey;
}





.login_box_admin h1 {
  color: black;
  text-transform: uppercase;
  font-weight: 500;
}
.login_box_admin input[type="text"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 3px solid #555A68;
  padding: 14px 10px;
  width: 250px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  font-size: 16px;
}
.login_box_admin input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto 20px auto;
  text-align: center;
  border: 3px solid #555A68;
  padding: 14px 10px;
  width: 250px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  font-size: 16px;
}
.login_box_admin input[type="text"]:focus,
.login_box_admin input[type="password"]:focus {
  width: 270px;
  border-color: white;
}
.login_box_admin input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #9BA2B1;
  padding: 14px 40px;
  outline: none;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  transition: 0.25s;
  cursor: pointer;
}
.login_box_admin input[type="submit"]:hover {
  background: #9BA2B1;
}
.login_box_admin input[type="submit"]:visited {
  text-decoration: none;
}
.login_box_admin input[type="submit"]:active {
  background: #8EA6E4;
  transition: 0.25s;
}

/* Style the tab */
.tab {
  position: relative;
  padding: 10x;
  background-color: #f1f1f1;
  width: 364px;
  border-radius: 20px;
  box-sizing: border-box
}
/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  width:172px;
  display: inline;
  width: 180px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 17px;
  transition: 1s;
  font-size: 17px;
  color: #0E1117;
  font-weight: 520;
  border-radius: 20px 0 0 20px;

}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #A4E3CA;
  color: #0E1117;
  font-weight: bold;
  border: 3px solid #054A30;
}
/* Create an active/current tablink class */
.tab button.active {
  background-color: #A4E3CA;
  color: #0E1117;
  font-weight: bold;
  border: 3px solid #054A30;
}
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  
}
/* Style the buttons inside the tab */
.tab2 button {
  background-color: inherit;
  width:175px;
  display: inline;
  width: 180px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 17px;
  transition: 1s;
  font-size: 17px;
  color: #0E1117;
  font-weight: 520;
  border-radius: 0 20px 20px 0 ;
}
/* Change background color of buttons on hover */
.tab2 button:hover {
  background-color: #2A3244; 
  color: white;
}
/* Create an active/current tablink class */
.tab2 button.active {
  background-color: #2A3244;
  color: white;
}

/* ------------------ END OF LOG IN DESIGN ------------------ */

