{% extends 'navbar.html' %} 
{% block content %}{% load filters %}

{% if form.errors %}
	ul>
	{% for error in form.errors %} 
	<script>alert("Error missing: {{ error }}");</script>
	{% endfor %}
	</ul>
{% endif %}  
{% if messages %}
<div >
	{% for message in messages %}
	{% if message %}
		<script>alert("{{ message }}");</script>
	{% endif %}
	{% endfor %}
</div>
{% endif %}   
<style>
	label{
		font-size: 17px;
		font-weight: bold;
	}
	.button_admin{
		background-color: #378DFC;
		font-weight: bold;
		padding: 7px 8px 7px 8px;
		margin-left: 505px;
	}
	.arrow {
	  border: solid black;
	  border-width: 0 2px 2px 0;
	  display: inline-block;
	  padding: 3px;
	}
	.up {
	  transform: rotate(-135deg);
	  -webkit-transform: rotate(-135deg);
	}
	center{
		font-size: 17px;
	}
	input[type="search2"]{
	  width: 500px;
	  border-radius: 10px;
	  background-color: white;
	  padding: 10px;
	  
	}

</style>

<div class="admin-container">
<div class="admin_left">
<form class="cool_form" method="POST">{% csrf_token %}
	{% for things in data %}
	<br><center>USER DETAILS</center><br>
	<p><label>User Full Name:</label>
	<input type="search" value = "{{ things.full_name }}" name="u_order_id" readonly /></input></p>

	<p><label>Email:</label>
	<input type="search" value = "{{ things.email_ad }}" name="harvest_id" readonly /></input></p>

	<p><label>Contact Number:</label>
	<input type="search" value = "{{ things.phone_num }}" name="plant_name" readonly /></input></p>

	<p><label>Address:</label>
	<input type="search" value = "{{ things.shipping_address }}" name="plant_name" readonly /></input></p>
	<br>
	<hr><br>
	<center>ORDER DETAILS</center><br>

	<p><label> Order ID:</label>
	<input type="search" value = "{{ things.u_order_id }}" name="u_order_id" readonly /></input></p>

	<p><label> Harvest ID:</label>
	<input type="search" value = "{{ things.harvest_id }}" name="harvest_id" readonly /></input></p>

	<p><label> Plant Name:</label>
	<input type="search" value = "{{ things.plant_name }}" name="plant_name" readonly /></input></p>

	<p><label> Requested Quantity:</label>
	<input type="search" id="rq" value = "{{ things.quantity|to_int }}" readonly /></input></p>

	<p><label> Grade:</label>
	<input type="search" value="{{ things.grade }}" readonly/> </input></p>

	<p><label> Current Quantity Remaning:</label>
	<input type="search" value="{{ things.quantity_harvested|to_int }} {{ things.units }}" readonly/> </input></p>

	<p><label> Confirmed Quantity: * </label>
	<input type="number" id="quan" name="confirmed_quantity" required/></input></p>

	<input type="search" id="quan_total" value="{{things.quantity_harvested}}" hidden/></input>
	<p><label> Units:</label>
	<input type="search" id="unit" value = "{{ things.units }}" name="units" readonly /></input></p>

	<p><label> Price per Unit:</label>
	<input type="search" id="ppu" value = "{{ things.price_per_unit }}" readonly /></input></p>

	<p><label> Total Amount: *</label>
	<input type="search" id="total" name="total_amount" required onkeydown="return false;" style="pointer-events: none;"/></input>
	
	</p>
	<p><button type='button' class="button_admin" onclick="Calculate()"><i class="arrow up"></i> Calculate</button></p>


	<hr class="solid"/><br>
	<center>DOWNPAYMENT DETAILS</center><br>
	<p><label> Downpayment Amount(25% Fixed):</label>
	<input type="search"  name="total_downpayment" readonly /></input></p>

	<p><label> Downpayment Due: *</label>
	<input type="date" id="dp_date" name="dp_due" required/></input></p>

	<br><hr class="solid"/><br>
	<center>DELIVERY DETAILS</center><br>
	<p><label> Requested Date Arrival:</label>
	<input type="search" id="rq_date" value = " {{ things.date_needed|date_format }}" name="batch_id" readonly /></input></p>

	<p><label> Expected Date Arrival: *</label>
	<input type="date" id="arrival_date" name="expected_date_arrival" required/></input></p>

	<p><label> Delivery Fee: *</label>
	<input type="number"  id="delivery_fee" name="delivery_fee" required /></input></p>

	<p><label> Total Payables:</label>
	<input type="search"  name="balance_to_pay" readonly /></input>
	
	</p>
	<p><button type='button' class="button_admin" onclick="Calculate_total()"><i class="arrow up"></i> Calculate</button></p>

	<input type="submit" style="background: #378DFC; margin-bottom: 70px;"value="Submit"></input>


	
</form>
</div>
<div class="admin_right">
	<form class="cool_form" action="{% url 'decline_order_request' %}" method = "POST">{% csrf_token %}
	<input type="search" value = "{{ things.u_order_id }}" name="u_order_id" hidden />	
	<p><label> Decline Reason:</label>
	<input type="search2"  name="decline_reason" required/></input>

	<input type="submit" style="background: #378DFC; margin-bottom: 70px;"value="Decline Request"></input>	
	</form>

</div>
</div>
{% endfor %}
<!--
	<p> -------------- CAN'T CATER -------------- </p>
	<p><label> Reason for cancellation: </label>
	<input type="search" value = " {{ data.batch_id }}" name="batch_id" readonly /></input></p>
	<button type="submit" value="submit">Cancel</button>
-->




<!-- SCRIPT -->	
<script>
function Calculate(){
	if(document.getElementById('quan').value == ""){
		alert("Please input Quantity");


	}
	
	else{
		

		let q = document.getElementById('quan').value;
		let price_per_unit = document.getElementById('ppu').value;
		let total = q * price_per_unit;
		let q_total = document.getElementById('quan_total').value;
		let unit = document.getElementById('unit').value;
		let dp_amount = total * .25
		let rq = parseFloat(document.getElementById('rq').value)
		
		
		if(parseFloat(q) > parseFloat(q_total)){
			alert("Quantity inputted: "+ q + " exceed the current quantity harvested of the batch which is " + q_total +" " +unit)
		}
		else if(parseFloat(q) > rq){
			alert("Confirmed Quantity must not exceed User's requested Quantity ("+document.getElementById('rq').value+")")
		}
		else{
			document.querySelector("input[type='search'][name=total_amount]").value = total;
			document.querySelector("input[type='search'][name=total_downpayment]").value = dp_amount;
			
		}
		

		
		


	}
}

function Calculate_total(){
	const date_today = new Date()

	


	const rq_date = new Date(document.getElementById('rq_date').value)
	const dp_date = new Date(document.getElementById('dp_date').value)
	const arrival_date =  new Date(document.getElementById('arrival_date').value)
	const tomorrow = new Date(dp_date)
	tomorrow.setDate(tomorrow.getDate() + 1)
	
	if(document.getElementById('total').value == ""){
		alert("Please calculate the total amount first");
	}
	else if(document.getElementById('delivery_fee').value == ""){
		alert("Please Input delivery fee");
	}
	else if( dp_date.getTime() > arrival_date.getTime()){
		alert("Downpayment Due Date must not be greater than the Expected Arrival Date")
	}
	else if(date_today > arrival_date){
		alert("Inputted Arrival Date has already passed");
	}
	else if(tomorrow < date_today){
		alert("Inputted Downpayment Due Date has already passed");
	}

	else if(date_today == dp_date){
		let payable = parseFloat(document.getElementById('delivery_fee').value) + parseFloat(document.getElementById('total').value)
		document.querySelector("input[type='search'][name=balance_to_pay]").value = payable;
	}
	
	
	else{
		let payable = parseFloat(document.getElementById('delivery_fee').value) + parseFloat(document.getElementById('total').value)
		document.querySelector("input[type='search'][name=balance_to_pay]").value = payable;
	}
	
}
</script>

</body>
{%endblock%}