{% extends 'navbar.html' %} 
{% block content %}{% load filters %}

{% if messages %}
<div >
	{% for message in messages %}
	{% if message %}
		<script>alert("{{ message }}");</script>
	{% endif %}
	{% endfor %}
</div>
{% endif %}  

<center><h2>ALL ORDER REQUESTS</h2></center>
<!-- {% for ii in data %}
<p>{{ ii }}</p>
{% endfor %}-->

{% if data %}
<a id="remove_view" onclick="removeToView()" class="button_admin">Remove Items to View</a>
<a id="back_to_view" onclick="backToView()" class="button_admin" hidden>Back to View</a>
<a id="view_all" href="{% url 'removed_from_view' 'order' %}" class="button_admin">View All Removed Items</a>

<br><br>
<form method="POST">{% csrf_token %}
<div class="search-container">

	<input type="number" id="myInput3" onkeyup="myFunction3()" placeholder="Search for Order Id.." title="Type in a name">
	<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
	<input type="text" id="myInput2" onkeyup="myFunction2()" placeholder="Search for Products.." title="Type in a name">
	<i class="fa fa-search" aria-hidden="true"></i>
	<div class="right-container">
		<label>Group by:</label>
		<button class="button_admin" type="submit" name="submit" value="is_admin_approved">Admin Status</button>
		<button class="button_admin" type="submit" name="submit" value="order_request_date">Date</button>
		<button class="button_admin" type="submit" name="submit" value="u_order_id">Order ID</button>
		<button class="button_admin" type="submit" name="submit" value="plant_name">Product</button>
		<button class="button_admin" type="submit" name="submit" value="full_name">Name</button>
		<i class="fa fa-filter" aria-hidden="true"></i>
	</div>
</div>
<form><br><br>
<div class="admin-table">
	
	<table class="table-striped" id="myTable">
		<thead>
			<tr>
				<th>User Full Name</th>
		    <th>Order ID</th>
		    <th>Plant Name</th>
		    <th>Request Date</th>
		    
		
		    <th>Payment Methods</th>	
		    <th>Pending Payments</th>
		    <th>Delivery Info</th>
		    <th>Admin Status</th>
		    <th>Order Status</th>
		    <th>Admin Action</th>
			</tr>
		</thead>
		{% for things in data %}
		{% if things.is_cancelled == 1 or things.is_received == 1 %}
		{% else %}
		<tbody>
			<tr>
			    <td>{{ things.full_name }}</td>
			    <td>{{ things.u_order_id }}</td>
			    <td>{{ things.plant_name }}</td>
			    <td>{{ things.order_request_date|date_format }}</td>



			    {% if things.pm_ready != None %}
			    <td style="color:green">&#10004;</td>
			    {% else %}
			    <td style="color:red">&#x2718; </td>
			    {% endif %}

			    {% if things.cc != 0 %}
			    <td style="color:red">{{ things.cc }} pending payment/s</td>
			    {% else %}
			    <td style="color:green">&#10004;</td>
			    {% endif %}
			    
			    {% if things.di_ready != None %}
			    <td style="color:green">&#10004;</td>
			    {% else %}
			    <td style="color:red">&#x2718; </td>
			    {% endif %}
			    
			 		
			    {% if things.is_admin_approved == 1 %}
			    <td  style="color:green">Approved</td>
			    <td>{{ things.is_received|received_or_not }}</td>
			    <td>
			    	<admin>
			    	<a id="admin_action" href="{% url 'admin_order_update' things.u_order_id %}" class="button_admin">Update</a> 
			    	</admin>
			    	<remove hidden>
			    	<a id="remove" onclick="return confirm('This Row will be removed from view you sure you want to continue?');" href="{% url 'remove_to_view' 'order' things.u_order_id %}" class="button_admin" >&#x2718</a>
			    	</remove>
			    </td>
			    {% elif things.is_admin_approved == 2 %}
			    <td  style="color:red">Declined</td>
			    <td>N/A</td>
			    <td>
			    	<admin>
			    	<a id="admin_action" href="{% url 'admin_order_update' things.u_order_id %}" class="button_admin">View</a>
			    	</admin>
			    	<remove hidden>
			    	<a id="remove" onclick="return confirm('This Row will be removed from view you sure you want to continue?');" href="{% url 'remove_to_view' 'order' things.u_order_id %}" class="button_admin" >&#x2718</a>
			    	</remove>
			    </td>
			    {% else %}
			    <td>No action</td>
			    <td>N/A</td>
			    <td>
			    	<admin>
			    	<a id="admin_action" href="{% url 'admin_order_action' things.u_order_id %}" class="button_admin">Action</a> 
			    	</admin>
			    	<remove hidden>
			    	<a id="remove" onclick="return confirm('This Row will be removed from view you sure you want to continue?');" href="{% url 'remove_to_view' 'order' things.u_order_id %}" class="button_admin" >&#x2718</a>
			    	</remove>
			    </td>
			    {% endif %}
			    

			    
			</tr>
		</tbody>
		{% endif %}
		{% endfor %}
	</table>
</div>

{% else %}
<center>--- No Order Requests Available at the moment ---</center><br><br>
<center><a id="view_all" href="{% url 'removed_from_view' 'order' %}" class="button_admin">View All Removed Items</a></center>
{% endif %}
<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0]; /* ADJUST LANG TO WHICH ROW*/
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}

function myFunction2() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput2");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[2]; /* ADJUST LANG TO WHICH ROW*/
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}

function myFunction3() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput3");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1]; /* ADJUST LANG TO WHICH ROW*/
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
function removeToView(){
	
	const admin = document.getElementsByTagName("admin")
	const remove = document.getElementsByTagName("remove")
	const button = document.getElementById("remove_view") 
	const button2 = document.getElementById("back_to_view")
	const view_all = document.getElementById("view_all")
	for(i=0; i<admin.length; i++){
		admin[i].setAttribute('hidden', true)
	}
	for(j=0; j<remove.length; j++){
		remove[j].removeAttribute("hidden");
	}

	button.setAttribute('hidden', true);
	button2.removeAttribute("hidden");
	view_all.setAttribute('hidden', true);
}
function backToView(){
	
	const admin = document.getElementsByTagName("admin")
	const remove = document.getElementsByTagName("remove")
	const button = document.getElementById("remove_view") 
	const button2 = document.getElementById("back_to_view")
	const view_all = document.getElementById("view_all")
	for(i=0; i<remove.length; i++){
		remove[i].setAttribute('hidden', true)
	}
	for(j=0; j<admin.length; j++){
		admin[j].removeAttribute("hidden");
	}
	button2.setAttribute('hidden', true);
	button.removeAttribute("hidden");
	view_all.removeAttribute("hidden");
}

</script>
{%endblock%}