{% extends 'navbar.html' %} 
{% block content %}{% load filters %}
{% if form.errors %}
	<ul>
	{% for error in form.errors %} 
	<script>alert("Error missing: {{ error }}");</script>
	{% endfor %}
	</ul>
{% endif %}  
{% if messages %}
<div >
	{% for message in messages %}
	{% if message %}
		<script>alert("{{ message }}");</script>
	{% endif %}
	{% endfor %}
</div>
{% endif %} 
<style>
	label, th, td{
		font-size: 17px;
		font-weight: bold;
	}
	.button_admin{
		background-color: #378DFC;
		font-weight: bold;
		padding: 7px 8px 7px 8px;
		
	}

	center{
		font-size: 17px;
	}

	.p_methods{
		padding: 10px 20px 10px 20px ;
		font-size: 15px;
		margin-right: 10px;
	}


</style>
<center><h2>Redelivery Details </h2></center>
<div class="admin-container">
	<div class="admin_left">
		<div class="cool_form" >
			{% for things in data %}		
			<p><label>Review entire order details before accepting <a href="{% url 'view_only_order_details' things.u_order_id %}" ><u><i>here</i></u></a></label></p>
			<p><label>Redelivery ID:</label><input type="search"value="{{things.re_delivery_id}}"name="transac_id"readonly></input></p>
			<p><label>Order ID:</label><input type="search"value="{{things.u_order_id}}"name="transac_id"readonly></input></p>
			<p><label>Plant Name:</label><input type="search" value="{{things.plant_name}}" readonly></input></p>
			<p><label>Grade:</label><input type="search" value='{{ things.grade }}' readonly></input></p>
			<p><label>Quantity Delivered:</label><input type="search" value='{{things.quantity |stringformat:".0f"}} {{things.units}}' readonly></input></p>
			<p><label>Received Quantity:</label><input type="search" name='quantity_received' value="{{ things.quantity_received|quan_format }} {{things.units}}" readonly></input></p>
			<p><label>Returned Quantity:</label><input type="search" name='refund_quan' value="{{ things.returned_quantity|quan_format }} {{things.units}}" readonly></input></p>
			<!-- <p><label>Units:</label><input type="search" value="{{things.units}}" name="units" readonly></input></p> -->
			<p><label>Reason for Redelivery:</label>    
			<input type="search" name='reason_refund' value="{{ things.reason_for_redelivery }}" readonly></input></p>  
			<p><label>See User's submitted proof <a href="{{ things.proof_img }}" download> <u> <i>here</i></u></a></label></p>
			<p><label>Request Date: </label><input type="search" value="{{things.request_date|date_format }}" readonly/></p>

			
		</div>
	</div>
	<div class="admin_right">
		{% if things.is_accepted == 3 %}
		<div class="cool_form">
		<p><label>Redelivery Status: </label>
		<input type=search id="account_name" name="account_name" value="{{ things.is_accepted|accept_format }}" readonly/></p>
		
		<p><label>Reason: </label>
		<input type=search id="account_name" name="account_name" value="{{ things.reason_decline }}" readonly/></p>
		</div>
		{% else %}
			{% if rd_info %}
				{% for iii in rd_info %}
					<div class="cool_form">
						<p><label>Redelivery Status: </label>
						<input type=search id="account_name" name="account_name" value="{{ things.is_accepted|accept_format }}" readonly/></p>
						<p><label>Harvest Number: </label><input type="search" value="{{ iii.harvest_id }}" name="" readonly></p>
						<p><label>Plant Name: </label><input type="search" value="{{ plant_name }}" name="" readonly></p>
						<p><label>Quantity to be delivered: </label><input type="search" value="{{ iii.quantity_delivered }}" name="" readonly></p>
						<p><label>Units: </label><input type="search" value="{{ iii.units }}" name="" readonly></p>
						<p><label>Grade: </label><input id="grade_selected1" type="search" value="{{ grade_selected }}" name="" readonly></p>
						{% if iii.re_delivery_status %}
							<br><hr class="solid"/><br>
							<center><b>Redelivery Info</b></center>	
							<p><label>Customer Name:</label><input type="search" value="{{ iii.customer_name }}" name="re_delivery_status" readonly></input></p>
							<p><label>Contact Information:</label><input type="search" value="{{ iii.contact_info }}" name="re_delivery_status" readonly></input></p>
							<p><label>Shipping Address:</label><input type="search"  value="{{ iii.shipping_address }}"  readonly></input></p>
							<p><label>Redelivery Status:</label><input type="search" value="{{ iii.re_delivery_status }}" name="re_delivery_status" readonly></input></p>
							<p><label>Details: (FORMAT: MM/DD/YYYY - TASK;)</label>
							<textarea id="d" name="details" rows="6" cols="40" readonly>{{ iii.details }}</textarea></p>
							
							<p><label>Date Arrived:</label><input type="search"  value="{{ iii.date_arrived|date_format }}"  readonly></input></p>
							<p><label>Date Shipped:</label><input type="search"  value="{{ iii.date_shipped|date_format }}"  readonly></input></p>
							<p><label>Expected Arrival:</label><input type="search"  value="{{ iii.expected_arrival|date_format }}" readonly></input></p>
								
							
							{% if iii.is_received == 0 %}
							<br><p><a class="button_admin p_methods" href="{% url 'admin_redelivery_info' re_delivery_id 'update' %}">Click to Update Redelivery Info</a></p>
							{% else %}
							<br><br>
							{% endif %}
						{% else %}
							<br><p><a class="button_admin p_methods" href="{% url 'admin_redelivery_info' re_delivery_id 'add' %}">Click to Add Redelivery Info</a></p>
						{% endif %}
					</div>
					{% endfor %}
			{% else %}
				{% for i in batch_data %}
					<div class="cool_form">
						<p><label>Redelivery Status: </label>
						<input type=search id="account_name" name="account_name" value="{{ things.is_accepted|accept_format }}" readonly/></p>
						<p><label>Harvest Number: </label><input type="search" value="{{ i.harvest_id }}" name="" readonly></p>
						<p><label>Plant Name: </label><input type="search" value="{{ i.plant_name }}" name="" readonly></p>
						<p><label>Grade Selected: </label><input type="search" value="{{ grade_selected }}" name="" readonly></p>
						<p><label>Quantity Variations:</label></p>
						<div class="admin-table">
						<table class="table-striped">
							<thead>
			     				<th>Grade</th>
			     				<th>Quantity</th>
			     				<th>Units</th>
			     				<th>Price per Unit</th>
					     	</thead>
				     		{% for ii in quantities %}
				     		<tbody>
			     				<td>{{ ii.grade }}</td>
			     				<td>{{ ii.quantity_harvested }}</td>
			     				<td>{{ ii.units }}</td>
			     				<td>Php. {{ ii.price_per_unit }}</td>
				     		</tbody>
							{% endfor %}
						</table>
						</div>
					</div>
				{% endfor %}
				<br>
				<p><a class="button_admin p_methods" href="{% url 'admin_redelivery_details' harvest_id re_delivery_id quantity_selected %}">Click to send Redelivery Order</a></p>
			{% endif %}
		{% endif %}
	</div>
	{% endfor %}
</div>

{%endblock%}