{% extends 'navbar.html' %} 
{% block content %}{% load filters %}
{% if form.errors %}
	<ul>
	{% for error in form.errors %} 
	<script>alert("Error missing: {{ error }}");</script>
	{% endfor %}
	</ul>
{% endif %}  
{% if messages %}
<div >
	{% for message in messages %}
	{% if message %}
		<script>alert("{{ message }}");</script>
	{% endif %}
	{% endfor %}
</div>
{% endif %} 
<style>
	label, th, td{
		font-size: 17px;
		font-weight: bold;
	}
	.button_admin{
		background-color: #378DFC;
		font-weight: bold;
		padding: 7px 8px 7px 8px;
	}
	center{
		font-size: 17px;
	}
	input[type="date"]{
		width: 40.6% !important;
	}
	.p_methods{
		padding: 10px 20px 10px 20px ;
		font-size: 15px;
		margin-right: 10px;
	}

	.submit_button {
	  margin-top: 15px;
	  
	  padding: 6px 0px 6px 0px;
	  width: 100%;
	  border: 2px solid grey;
	  color: black;
	  border-radius: 7px;
	  transition: 0.25s;
	  cursor: pointer;
	  font-family: "Source Sans Pro", sans-serif;
	  font-size:  16px;
	  background: #378DFC; 
	  margin-bottom: 70px;
	}
	.submit_button:hover {
	  color: black;
	  font-weight: bold;
	  background: #D9E3F1;
	}
	.mini_button {
	  margin-top: 15px;
	  margin-right: 182px;
	  float: right;
	  padding: 6px 0px 6px 0px;
	  width: 20%;
	  border: 2px solid grey;
	  color: black;
	  border-radius: 7px;
	  transition: 0.25s;
	  cursor: pointer;
	  font-family: "Source Sans Pro", sans-serif;
	  font-size:  16px;
	  background: #378DFC; 
	  margin-bottom: 70px;
	}
	.mini_button:hover {
	  color: black;
	  font-weight: bold;
	  background: #D9E3F1;
	}
</style>
{% if status == "add" %}
<center><h2>Redelivery Info</h2></center>
<div class="admin-container">
	<div class="admin_left">
		<form class="cool_form" method="POST">{% csrf_token %}
			<p><label>Redelivery Status:</label><input type="search" name="re_delivery_status" readonly></input></p>
			
			<input type="search" name="details" hidden/>
			


			<p><label>Date: </label><input type="date" name="dd_date" required/></p>
			<p><label >Task: </label><input type="search" name="dd_details" id="t_task" required /></p>
			<br><hr>
			<center><p>Customer Information</p></center>
			<p><label >Customer Name: </label><input type="search" name="shipping_address" value= "{{ customer_name }}"  readonly /></p>
			<p><label >Contact Information: </label><input type="search" name="shipping_address" value= "{{ contact_info }}"  readonly /></p>
			<p><label >Shipping Address: </label><input type="search" name="shipping_address" value= "{{ shipping_address }}"  readonly /></p>
			
			<button type='button' class="submit_button" type="button" id="edit_button" onclick="getDetails()" >Confirm Submission</button>
			<button class="submit_button" id="save_button" type='submit'  hidden>Submit</button>
		</form>
	</div>
</div>

{% elif status == "update" %}
<center><h2>Redelivery Info</h2></center>
<div class="admin-container">
	<div class="admin_left">
		<form class="cool_form" method="POST">{% csrf_token %}
			{% for things in data %}
			<p><label>Redelivery Status:</label><input type="search" value="{{ things.re_delivery_status }}" name="re_delivery_status" required></input></p>
			<p><label>Details: (FORMAT: MM/DD/YYYY - TASK;)</label>
				<textarea id="d" name="details" rows="6" cols="40" required>{{ things.details }}</textarea></p>
			
			<p><label>Date Arrived:</label><input type="date"  value="{{ things.date_arrived }}" name="date_arrived"></input></p>
			<p><label>Date Shipped:</label><input type="date"  value="{{ things.date_shipped }}" name="date_shipped" ></input></p>
			<p><label>Expected Arrival:</label><input type="date"   value="{{ things.expected_arrival }}" name="expected_arrival"></input></p>
			<input type="submit" style="background: #378DFC; margin-bottom: 70px;"value="Save details"></input>
			
		</form>
	</div>
	<div class="admin_right">
	<form class="cool_form" action="{% url 'add_redeliv_info' things.re_delivery_id %}" method="POST">{% csrf_token %}
		<p><label style="margin-left: 150px;">Date: </label><input style="margin-right: 180px;" type="date" name="d_date"required /></p>
		<p><label style="margin-left: 150px;">Task: </label><input style="margin-right: 180px;" type="search" name="d_details" required /></p>
		<button class="mini_button"  type="submit" >Add details</button>
	</form>
</div>
</div>
{% endfor %}
{% endif %}

<script>
	function getDetails(){

		let date = document.querySelector("input[type='date'][name=dd_date]").value;
		let task = document.querySelector("input[type='search'][name=dd_details]").value
		let details = document.querySelector("input[type='search'][name=details]").value
		let d_status = document.querySelector("input[type='search'][name=re_delivery_status]").value;
		date = date.split("-")
		date = date[1]+"/"+date[2]+"/"+date[0] 

		details = date + " - " + task +" ;";
		
		if(date == "" || task == ""){
			alert("Kindly Input Date and Task in order to save this form")
		}
		else{
			document.getElementById('edit_button').setAttribute('hidden', true);
			document.getElementById('save_button').removeAttribute("hidden");
			document.getElementById('t_task').removeAttribute("required");
			document.getElementById('t_task').setAttribute('readonly', true);

			document.querySelector("input[type='search'][name=details]").value = details;
			document.querySelector("input[type='search'][name=re_delivery_status]").value = task;
		}
	}
</script>


{%endblock%}