{% extends 'navbar.html' %} 
{% block content %}{% load filters %}
{% if messages %}
<div >
	{% for message in messages %}
	{% if message %}
		<script>alert("{{ message }}");</script>
	{% endif %}
	{% endfor %}
</div>
{% endif %}  

<center><h2>ALL PUBLISHED ANNOUNCEMENTS</h2></center>
{% if data %}
<a id="remove_view" onclick="removeToView()" class="button_admin">Remove Items to View</a>
<a id="back_to_view" onclick="backToView()" class="button_admin" hidden>Back to View</a>
<a id="view_all" href="{% url 'removed_from_view' 'announcements' %}" class="button_admin">View All Removed Items</a><br><br>
<br>
<center><a style="float:right; margin-right: 10px; font-size:15px;" href="{% url 'add_announcement' 'add' '0' %}" class="button_admin">Add New Announcement</a></center><br>
<br>
<form method="POST">{% csrf_token %}
<div class="search-container">
	<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for titles.." title="Type in a name">
	<i class="fa fa-search" aria-hidden="true"></i>
  <div class="right-container">
  <label>Group by:</label>
	<button class="button_admin" type="submit" name="submit" value="a_status">Status</button>
	<button class="button_admin" type="submit" name="submit" value="a_days">Days Remaining</button>
	<button class="button_admin" type="submit" name="submit" value="a_date_published">Date Published</button>
	<button class="button_admin" type="submit" name="submit" value="a_title">Name</button>
	<i class="fa fa-filter" aria-hidden="true"></i>
  </div>
</div>
<form><br><br>
<div class="admin-table">
	<table class="table-striped" id="myTable">
		<thead>
			<tr>
					<th>Title</th>
			    <th>Date Published</th>
			    <th>Days to be posted</th>
			    <th>Announcement Status</th>
			    <th>Admin Action</th>
			</tr>
		</thead>
		{% for things in data %}
		<tbody>
			<tr>
			    <td>{{ things.a_title }}</td>
			    <td>{{ things.a_date_published|date_format }}</td>
			    <td>{{ things.a_days }} days</td>
			    {% if things.a_status == 1 %}
			    <td style="color:green">{{ things.a_status|announcement_status }}</td>
			    {% else %}
			    <td style="color:red">{{ things.a_status|announcement_status }}</td>
			    {% endif %}
			    <td>
			    	<admin>
			    	<a href="{% url 'add_announcement' 'edit' things.a_id %}" class="button_admin">Edit</a>
			      </admin>
			      <remove hidden>
			    	<a id="remove" onclick="return confirm('This Row will be removed from view you sure you want to continue?');" href="{% url 'remove_to_view' 'announcements' things.a_id %}" class="button_admin" >&#x2718</a>
			    	</remove>
			    </td>
			</tr>
		</tbody>
		{% endfor %}
	</table>
</div>
{% else %}
<center>--- No Published Announcements Available at the moment ---</center>
<br><br>
<center><a href="{% url 'add_announcement' 'add' '0' %}" class="button_admin">Add New Announcement</a></center><br><br>
<center><a id="view_all" href="{% url 'removed_from_view' 'announcements' %}" class="button_admin">View All Removed Items</a></center>

{% endif %}
<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0]; /* ADJUST LANG TO WHICH ROW*/
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
function removeToView(){
	
	const admin = document.getElementsByTagName("admin")
	const remove = document.getElementsByTagName("remove")
	const button = document.getElementById("remove_view") 
	const button2 = document.getElementById("back_to_view")
	const view_all = document.getElementById("view_all")
	for(i=0; i<admin.length; i++){
		admin[i].setAttribute('hidden', true)
	}
	for(j=0; j<remove.length; j++){
		remove[j].removeAttribute("hidden");
	}

	button.setAttribute('hidden', true);
	button2.removeAttribute("hidden");
	view_all.setAttribute('hidden', true);
}
function backToView(){
	
	const admin = document.getElementsByTagName("admin")
	const remove = document.getElementsByTagName("remove")
	const button = document.getElementById("remove_view") 
	const button2 = document.getElementById("back_to_view")
	const view_all = document.getElementById("view_all")
	for(i=0; i<remove.length; i++){
		remove[i].setAttribute('hidden', true)
	}
	for(j=0; j<admin.length; j++){
		admin[j].removeAttribute("hidden");
	}
	button2.setAttribute('hidden', true);
	button.removeAttribute("hidden");
	view_all.removeAttribute("hidden");
}

</script>
{%endblock%}