{% extends 'navbar.html' %} 
{% block content %}{% load filters %}
<div >
{% for message in messages %}
{% if message %}
<script>alert("{{ message }}");</script>
{% endif %}
{% endfor %}
</div>


<style>
input{text-indent: 5px; width: 260px !important;}.right{float: right; margin-right: 45px; display: block;}
</style>
<br><br><br>
<div style="" class="cool_form-r right">
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for plant names or categories.." title="Type in a name"><i class="fa fa-search" aria-hidden="true"></i>
</div>
<br><br>



{% if data %}
<main class="container-d" >
	<div class="d-flex flex-wrap" id="myTable">
	{% for things in data %}
		<div class="items">
		<a class="click-dis" href="{% url 'plant_details' things.harvest_id %}">
			<div class="i-container">
				<div class="main-title">
				<img src="{{ things.batch_img_imgur }}">
				<p class="main-title">{{ things.plant_name }}</p>
				</div>
			<div class ="sub-details">
				<p>Category: {{ things.plant_type }}</p>	
			</div>     
		</div> 
		</a> 
		</div>
	{% endfor %}
	</div>  
</main>  
{% else %}
<center><p><i style="color: red"> No available plants for sale at this moment</i></p></center>
{% endif %} 
<script>
function myFunction() {
  var input = document.getElementById("myInput");
  var filter = input.value.toLowerCase();
  var nodes = document.getElementsByClassName('items');
  for (i = 0; i < nodes.length; i++) {
    if (nodes[i].innerText.toLowerCase().includes(filter)) {
      nodes[i].style.display = "block";
    } else {
      nodes[i].style.display = "none";
    }
  }
}
</script>
{%endblock%}
