{% extends 'navbar.html' %} 
{% block content %}{% load filters %}

{% if pm_form.errors %}
	ul>
	{% for error in pm_form.errors %} 
	<script>alert("Error missing: {{ error }}");</script>
	{% endfor %}
	</ul>
{% endif %}  
{% if messages %}
<div >
	{% for message in messages %}
	{% if message %}
		<script>alert("{{ message }}");</script>
	{% endif %}
	{% endfor %}
</div>
{% endif %} 
<style>
	label{
		font-size: 17px;
		font-weight: bold;
	}

	.button_admin{
		background-color: #378DFC;
		font-weight: bold;
		padding: 7px 8px 7px 8px;
		
	}

	center{
		font-size: 17px;
	}
	.admin_left{
		margin-left: 90px;
	}
	.submit_button {
	  margin-top: 15px;
	  
	  padding: 6px 0px 6px 0px;
	  width: 100%;
	  border: 2px solid grey;
	  color: black;
	  border-radius: 7px;
	  transition: 0.25s;
	  cursor: pointer;
	  font-family: "Source Sans Pro", sans-serif;
	  font-size:  16px;
	  background: #378DFC; 
	  margin-bottom: 70px;
	}
	.submit_button:hover {
	  color: black;
	  font-weight: bold;
	  background: #D9E3F1;
	}
</style>
<div class="admin-container">
<div class="admin_left">
<form class="cool_form" action="" method="POST">{% csrf_token %}
{% for things in data %}
	<br><br><center> Payment no. {{ things.payment_done_id }}</center><br>
	<p><label>Paid for:</label>
	<input type=search id="payment_for" name="payment_for" value="{{ things.payment_for }}" readonly/></p>

	

	<label>Download proof of payment<a href="{{ things.proof_receipt }}" download> <u> here</u></a></label>

	<p><label>Amount paid: </label>
	<input type=search id="amount_paid" name="amount_paid" value="{{ things.amount_paid }}" readonly/></p>

	<p><label>Date paid: </label>
	<input type=search name="date_paid" value="{{ things.date_paid|date_format }}" readonly/></p>

	<p><label>Admin Status: </label>
	<input type=search name="date_paid" value="Not yet confirmed" readonly/></p>
	

	<button class="submit_button" id="edit_button" type='button' onclick="Edit()" >EDIT</button>
	<button class="submit_button" id="save_button" type="submit" hidden>Confirm</button>
	
{% endfor %}	
	
</form>
</div>
</div>


<script>
function Edit(){
	alert("You can now edit")
	document.getElementById('edit_button').setAttribute('hidden', true);
	document.getElementById('save_button').removeAttribute("hidden");

	document.getElementById('amount_paid').removeAttribute("readonly");
	document.getElementById('amount_paid').setAttribute('required', true);

	document.getElementById('payment_for').removeAttribute("readonly");
	document.getElementById('payment_for').setAttribute('required', true);
	
}

</script>

{%endblock%}