<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>FarmSys</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <h1 class="company">Farm MIS</h1>
  <h2 class="datsys">Farm Management Information System</h2>
  <div >
    {% for message in messages %}
      {% if message %}
        <script>alert("{{ message }}");</script>
      {% endif %}
    {% endfor %}
  </div>
  <body class="login_body">
    <form class="login_box" method="POST">{% csrf_token %}
      <center>
        <p>We sent an OTP code to your Phone Number</p>
        <p>Kindly Input it below to proceed</p>
        <input type="text" placeholder="ex: 123456" name="code" required/><br><br>
        <div class="outer">
        <div class="inner"><input type="submit"  value="Confirm"/></div>
        </div> 
      </center> 
    </form>
  </body>
  {% block content %}
  {% endblock %}
</html>
