<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>FarmSys</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <h1 class="company">Farm MIS</h1>
  <h2 class="datsys">Farm Management Information System</h2>
  <div class ="err_message">
  {% for message in messages %}
    {% if message %}
      <script>alert("{{ message }}");</script>
    {% endif %}
  {% endfor %}
  </div>
  <style>
    input[type="text"]{
      width: 350px !important;
      float: Right;
      clear: both;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 20px;
    }

    p{
      margin:  20px 20px 50px 20px ;
    }
  </style>
  <body class="login_body">
    <form class="login_box" method="POST">{% csrf_token %}
      <p><label>Full Name: </label><input type="text" name="full_name" placeholder="Juan Dela Cruz" required/></p>
      <p><label>Address: </label></p>
      <p><label style="margin-left: 40px;">Blk: </label><input type="text" name="block" placeholder="Blk 14" /></p>
      <p><label style="margin-left: 40px;">Lot: </label><input type="text" name="lot" placeholder="Lot 14" /></p>
      <p><label style="margin-left: 40px;">Street: </label><input type="text" name="street" placeholder="Juan Street, Dela Cruz" required/></p>
      <p><label style="margin-left: 40px;">Barangay: </label><input type="text" name="barangay" placeholder="Brngy. Talomo" /></p>
      <p><label style="margin-left: 40px;">City: </label><input type="text" name="city" placeholder="Davao City" required/></p>
      <p><label style="margin-left: 40px;">Province: </label><input type="text" name="province" placeholder="Davao Del sur" required/></p>
      <p><label style="margin-left: 40px;">Zipcode: </label><input type="text" name="zipcode" placeholder="9999" required/></p>
      

      <p><label>Socials: </label><input type="text" name="adress" placeholder="fb.com/juandelacruz" required/></p>
        {% if data.email_ad %}
          <p><label>Email Address: </label><input type="text" value="{{ data.email_ad }}" name="email_ad" readonly> </input></p>
        {% else %}
          <p><label>Email Address: </label><input type="text" name="email_ad" placeholder="juandc@gmail.com" required/></p>
        {% endif %}
        {% if data.phone_num %}
         <p><label>Phone Number: </label><input type="text" value="{{ data.phone_num }}" name="phone_num" readonly> </input></p>
        {% else %}
          <p><label>Phone Number: </label><input type="text" name="phone_num" placeholder="099999999899" required/></p>
        {% endif %}
      <p><label>Company: </label><input type="text" name="comp" placeholder="Company (if applicable)" /></p>
      <input type="hidden" value="{{ data.username }}" name="username" />
      <input type="hidden" value="{{ data.passw }}" name="password1" />
      <input type="hidden" value="{{ data.confirm_passw }}" name="password2" />
      <div class="outer">
        <div class="inner"><input type="submit"  value="Finish"/></div>
      </div>
    </form>
  </body>
  {% block content %}

  {% endblock %}
</html>
