{% extends 'navbar.html' %} 
{% block content %}
<div >
    {% for message in messages %}
        {% if message %}
        <script>alert("{{ message }}");</script>
        {% endif %}
    {% endfor %}
</div>
<center><h1> Hello {{ full_name }}! What would you like to do today? </h1></center>
<br>
<center><p> ----- ANNOUNCEMENTS ----- </p></center>

<br>
<div class="announcement">
    {% if data %}
        {% for things in data %}
        <div class ="a_details">
            <div class="a_details_inside">
                <center><h3><b>{{ things.a_title }}</b></h3></center>
                <p>{{ things.a_desc }}... </p>
                <p>Read more in this link: <i><u><a href="{{ things.a_link }}" target="_blank">{{ things.a_link }}</a></u></i></p>
            </div>
        </div>
        <br>
        {% endfor %}
        {% else %}
        <center><p> ----- NO ANNOUNCEMENTS AVAILABLE ----- </p></center>

    {% endif %}
</div>


{%endblock%}