<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FarmSys</title>
    {% load static %}
  

    <!--{% if request.user.username == 'admin' %}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootswatch@5/dist/morph/bootstrap.min.css"
    />
    {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    {% endif %}-->

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    
   
    
    
    
  </head>
  
  <style>
    .back_button{

    }

  </style>
  {% if request.user.username == 'admin' %}
  <body style="background: #D9E3F1;">
  {% else %}
  <body>
  {% endif %}
    {% if request.user.username == 'admin' %}
    <header class="nav_header-admin">

      <div class="nav_title">
        <br></br>
        <div class="nav_nav">
          <div class="dropdown">
            <p class = "dropbtn" style="color: black; font-weight:bold;cursor: pointer;">ORDER REQUESTS</p> 
              <div class="dropdown-content2">
                <a href="{% url 'admin_order_requests' %}">Orders</a>
                <a href="{% url 'admin_cancelled_orders' %}">Cancelled Orders</a>   
                <a href="{% url 'received_orders' %}">Received Orders</a>            
              </div>
          </div> 
          <div class="dropdown">
            <p class = "dropbtn" style="color: black; font-weight:bold;cursor: pointer;">RETURN REQUESTS</p> 
            <div class="dropdown-content2">
              <a href="{% url 'admin_refund_requests' %}">Refunds</a>
              <a href="{% url 'admin_redelivery_requests' %}">Redeliveries</a>
            </div>
          </div>  
          <div class="dropdown">
            <p class = "dropbtn" style="color: black; font-weight:bold;cursor: pointer;">FINANCE</p> 
              <div class="dropdown-content2">
                <a href="{% url 'sales_summary' %}">Sales Summary</a>        
              </div>
          </div> 
          <div class="dropdown">
            <p class = "dropbtn" style="color: black; font-weight:bold;cursor: pointer;">OTHERS</p> 
              <div class="dropdown-content2">
                <a href="{% url 'admin_payment_methods' %}">Payment Methods</a>
                <a href="{% url 'announcements_admin' %}">Announcements</a>               
              </div>
          </div> 
          
         

          <div>
            {% if request.user.username == "admin" %}
            <a href="{% url 'logout_user' %}"><button class="logout_button_admin" id="logout_button">Logout</button></a>
            {% else %}
            <a href="{% url 'logout_user' %}"><button class="logout_button" id="logout_button">Logout</button></a>
            {% endif %}   
          </div>
        </div>
      </div>
    </header>
    <br><br><br><br><br><button class="back_button2" onclick="history.back()"> Back</button>
    {% else %}
    <header class="nav_header">
      <div class="nav_title">
        
        
        <br></br>
        <div class="nav_nav">
          <div class="dropdown">
            <p class = "dropbtn" style="color: black; font-weight:bold;cursor: pointer;">BROWSE PLANTS</p>  
              <div class="dropdown-content">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'browse_plants' %}">Browse Plants</a>
                
              </div>
          </div> 

          <div class="dropdown">
            <p class = "dropbtn" style="color: black; font-weight:bold;cursor: pointer;">VIEW ORDERS</p> 
              <div class="dropdown-content">
                <a href="{% url 'tbc_admin' %}">To be confirmed by Admin</a>
                <a href="{% url 'tbc_user' %}">To be confirmed by User</a>
                <a href=" {% url 'sales_order' '0' %}">Sales Order</a>
                
              </div>
          </div> 

          <div class="dropdown">
            <p class = "dropbtn" style="color: black; font-weight:bold;cursor: pointer;">ORDER HISTORY</p> 
              <div class="dropdown-content">
                <a href=" {% url 'success_orders' %}">Successful Orders</a>
                <a href=" {% url 'cancelled_orders' %}">Cancelled Orders</a>
                <a href=" {% url 'refund' %}">Refunds</a>
                <a href=" {% url 'redelivery' %}">Redelivery</a>
              </div>
          </div> 

          <div class="dropdown">
            <p class = "dropbtn" style="color: black; font-weight:bold;cursor: pointer;">ACCOUNT</p> 
              <div class="dropdown-content">
                <a href="{% url 'profile' %}" >Profile</a>
                <a href="{% url 'user_soa' %}">Statment of Account</a>
                <a href="{% url 'about_us' %}">About Us</a>
                <!--
                <a href="{% url 'user_deliveries' %}">Deliveries/Redeliveries</a>
                <a href="{% url 'user_refunds' %}">Refunds</a> -->
              </div>
          </div> 



          
          <div>
            <a href="{% url 'logout_user' %}"><button class="logout_button" id="logout_button">Logout</button></a>
          </div>
        </div>
      </div>
    </header>
    <br><br><br><br><br>
    <button class="back_button" onclick="history.back()"> Back</button>
    {% if request.user.last_name %}
    {% else %}
    <center><p><i style="color:Red">Note: You dont have a Shipping Address, kindly go to the profile tab and input your Shipping Address</i></p></center><br>
    {% endif %}
    {% endif %}
    {% load filters %}
    {% block content %} {% endblock %}
  </body>
 
</html>
