{% extends 'navbar.html' %} 
{% block content %}{% load filters %}

<center><h1>Plant Details</h1></center>
	<main>
		<div class="details-container">
		     <div class="details-container-left"> 

		     	{% for plant_data in plant_data%}
		     	<p>Batch no: <b>{{ plant_data.batch_id }} </b></p> 
		    	<p>Plant Name: <b>{{ plant_data.plant_name }} </b></p>
		     	<p>Category: <b>{{ plant_data.category }} </b></p>
		     	<p>Variety: <b>{{ plant_data.variety }} </b></p>
		     	<p>Plant Type: <b>{{ plant_data.plant_type }} </b></p>
		     	{% if data %}
		     	<div class="table-items">
		     		<table class="table-striped">
			     		<thead>
			     			<tr>
			     				<th>Grade</th>
			     				<th>Quantity</th>
			     				<th>Units</th>
			     				<th>Price per Unit</th>
			     			</tr>
			     		</thead>
			     		{% for things in data%}
			     		{% if things.quantity_harvested != "0" and things.var_status != "Wasted" %}
			     		<tbody>
			     			<tr>
			     				<td>{{ things.grade }}</td>
			     				<td>{{ things.quantity_harvested|quan_format }}</td>
			     				<td>{{ things.units }}</td>
			     				<td>Php. {{ things.price_per_unit }}</td>
			     			</tr>
			     		</tbody>
			     		
			     		
			     		{% endif %}
			     		{% endfor %}
			     		
			     	</table>
		     	</div>
		     	{% else %}
		     	<p><i style="color: red;">No Quantity variations data for this product</i></p>
		     	{% endif %}
		     	<p>Description:</p>
		     	<div class="desc-box-outer">
		     		<div class="desc-box-inner">
		     			<p>{{ plant_data.plant_desc }}</p>
		     		</div>
		     	</div>
		     </div> 
		     {% endfor %}

		     {% for plant_data in plant_data%}
		     <div class="details-container-right">
			    	<p><img class="img-container" src="{{ plant_data.batch_img_imgur }}"></p>
			    	{% if plant_activities %}
			    	<p><a href="{% url 'growth_details' plant_data.batch_id %}" class="tabular_button">See Full Growth Details</a></p>
			    	{% else %}
			    	<p><i style="color: red;">No plant monitoring activities data for this product</i></p>
			    	{% endif %}
			    	{% if data %}
			    	<p><a href="{% url 'purchase_plant' plant_data.harvest_id %}" class="tabular_button">Purchase</a></p>
			    	{% endif %}
			    	
			    	
		     </div>
		     {% endfor %}
		</div>
	</main>


{% endblock %}