{% extends 'navbar.html' %} 
{% block content %}{% load filters %}
{% if messages %}
<div >
	{% for message in messages %}
	{% if message %}
		<script>alert("{{ message }}");</script>
	{% endif %}
	{% endfor %}
</div>
{% endif %} 



<style>
	label{
		font-size: 17px;
		font-weight: bold;
	}
	.button_admin{
		background-color: #5DC68C;
		font-weight: bold;
		padding: 7px 8px 7px 8px;
		
	}

	center{
		font-size: 17px;
	}
	.admin_left{
		margin-left: 50px;

		width: 600px;
	}
	.admin_left input{
		margin-right: 150px;
		width: auto;
	}
	.admin_right input{
		
		width: 550px !important;
	}
	.admin_right{
		margin-right: 50px;
	}
	.tabular_button-nomargins{
		width: 100% !important;

	}
</style>

<div class="admin-container">
	<div class="admin_left">
		<form class="cool_form" method="POST" >{% csrf_token %}
			{% for things in data %}
			<center><label>User Details</label></center>
			<hr>
			<p><label>Username:</label><input type="search" value="{{things.username}}"name="username" readonly></input></p>
			
			<p><label>Password:</label><input type="search" value="*****" readonly></input></p>
			<p style="font-size: 16px;">Click <a href="{% url 'change_password'  %}"><b><u>here</u></b></a> to change your password</p>
			<p><label>Phone Number:</label><input type="search"value="{{ things.phone_num }}" name="phone_num" id="phone_num" readonly></input></p>

			<p><label>Email Address:</label><input type="search" value='{{things.email_ad}}' name="email_ad" id="email_ad" readonly></input></p>
			<p><label>Full Name:</label><input type="search" value="{{ things.full_name}}" name='full_name' id="full_name" readonly></input></p>
			<p><label>Company:</label><input type="search" value="{{ things.company }}" name='company' id="company" readonly></input></p>
			<p><label>Socials:</label><input type="search" value="{{things.socials}}" name="socials" id="socials" readonly></input></p>
			<br><br><center><label>Address</label></center>
			<hr>
			<p><label>Block:</label><input type="search" value='{{things.block}}' name='block' id="block" readonly></input></p>
			<p><label>Lot:</label><input type="search" value='{{things.lot}}' name='lot' id="lot" readonly></input></p>
			<p><label>Street:</label><input type="search" value="{{ things.street}}" name='street'  id="street" readonly></input></p>
			<p><label>Barangay:</label><input type="search" value='{{things.barangay}}' name='barangay' id="barangay" readonly></input></p>
			<p><label>City:</label><input type="search" value="{{ things.city }}" name='city' id="city" readonly></input></p>
			<p><label>Province:</label><input type="search" value="{{things.province}}" name="province" id="province" readonly></input></p>
			<p><label>Zip Code:</label><input type="search" value="{{things.zipcode}}" name="zipcode" id="zipcode" readonly></input></p>
			
			<button onclick="toEdit()"class="tabular_button-nomargins"type="button" id="edit_button" >Edit</button>
			<button class="tabular_button-nomargins"type="submit" id="save_button" hidden>Save</button><br><br>
		</form>
	</div>
	<div class="admin_right">
		<form class="cool_form" action="{% url 'edit_shipping_address' %}" method="POST" >{% csrf_token %}
			<center><label>Shipping Address</label></center>
			<hr>
			{% if things.shipping_address %}
			<p><label>Shipping Adress:</label><input type="search" value="{{ things.shipping_address }}"name="shipping_address" id="shipping_address" readonly></input></p>
			<br>
			<button onclick="toEdit2()"class="tabular_button-nomargins"type="button" id="edit_button2" >Edit</button>
			<button class="tabular_button-nomargins"type="submit" id="save_button2" hidden>Save</button><br><br>
			{% else %}
			<p><i style="color: red;font-size: 17px;">No shipping address selected</i></p>
			<p><i style="color: red;font-size: 17px;">Note: we will use your registered address as shipping address by default if this field remained blank</i></p>
			<p><label>Shipping Adress:</label><input type="search" name="shipping_address" id="shipping_address" required></input></p>
			<p style="font-size: 17px;">Click <a href="{% url 'set_sh_address_default' things.address_id %}"><b><u>here</u></b></a> to use your current address as shipping address</p>
			<br>
			<button class="tabular_button-nomargins"type="submit" id="save_button2" >Save</button><br><br>
			{% endif %}
			
		</form>
	</div>
	
	{% endfor %}
</div>
	
<script>
	function toEdit(){
		document.getElementById("edit_button").setAttribute('hidden', true);
		document.getElementById("save_button").removeAttribute('hidden');

		document.getElementById("zipcode").removeAttribute('readonly');
		document.getElementById("province").removeAttribute('readonly');
		document.getElementById("city").removeAttribute('readonly');
		document.getElementById("street").removeAttribute('readonly');
		document.getElementById("lot").removeAttribute('readonly');
		document.getElementById("socials").removeAttribute('readonly');
		document.getElementById("company").removeAttribute('readonly');
		document.getElementById("full_name").removeAttribute('readonly');
		document.getElementById("email_ad").removeAttribute('readonly');
		document.getElementById("phone_num").removeAttribute('readonly');
 
 		document.getElementById("block").removeAttribute('readonly');
 		document.getElementById("barangay").removeAttribute('readonly');

 		document.getElementById("block").setAttribute('required', true);
 		document.getElementById("barangay").setAttribute('required', true);


		document.getElementById("zipcode").setAttribute('required', true);
		document.getElementById("province").setAttribute('required', true);
		document.getElementById("city").setAttribute('required', true);
		document.getElementById("street").setAttribute('required', true);
		document.getElementById("lot").setAttribute('required', true);
		document.getElementById("socials").setAttribute('required', true);
		document.getElementById("company").setAttribute('required', true);
		document.getElementById("full_name").setAttribute('required', true);
		document.getElementById("email_ad").setAttribute('required', true);
		document.getElementById("phone_num").setAttribute('required', true);

	}
	function toEdit2(){
		document.getElementById("edit_button2").setAttribute('hidden', true);
		document.getElementById("save_button2").removeAttribute('hidden');
		document.getElementById("shipping_address").removeAttribute('readonly');
		document.getElementById("shipping_address").setAttribute('required', true);
	}
</script>
{%endblock%}