{% extends 'navbar.html' %} 
{% block content %}

<center><h2>Purchase Plant</h2></center>
<style>
.radio {
  margin: 0.5rem;
  margin-left: 337px;
  font-size: 15px;
}
.radio input[type=radio] {
  position: absolute;
  opacity: 0;

}
.radio input[type=radio] + .radio-label:before {
  content: "";
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.radio input[type=radio]:checked + .radio-label:before {
  background-color: #3197EE;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio input[type=radio]:focus + .radio-label:before {
  outline: none;
  border-color: #3197EE;
}
</style>


<main>
<div class="incenter">
<div class="details-container">
	<div class="details-container-left"> 
		

    {% if form.errors %}
		  <ul>
		    {% for error in form.errors %} 
		      <script>alert("{{ error }}");</script>
		    {% endfor %}
		  </ul>
		{% endif %}  

		<form class="cool_form" method="POST"> {% csrf_token %}
			{% for data in data %}

			<input value = "{{ user_id }}" name="user_id" hidden/>
			<input value = "{{ harvest_id }}" name="harvest_id" hidden/>


			<p><label> Batch Number:</label>
			<input type="search" value = " {{ data.batch_id }}" name="batch_id" readonly /></input></p>
			<p><label> Plant Name: </label>
			<input type="search" value = "{{ data.plant_name }}" name="plant_name" readonly/></input></p>
			<div class="container"> Grade and Unit:
			{% for quantity in quans %}
				{% if quantity.quantity_harvested == "0" %}
				{% else %}
			  <div class="radio">
			    <input id="{{ quantity.grade }}" name="grade" type="radio" value= "{{ quantity }}">
			    <label for="{{ quantity.grade }}" class="radio-label">Grade: {{ quantity.grade }} Unit: {{ quantity.units }}</label>
			  </div>
			  {% endif %}
			{% endfor %}  
			</div>	
			<p><label> Quantity: </label>
			<input id="quan" type="number" name ="quantity"/></input></p>
			<br>


			<p style="font-size: 14px; text-align: justify;">Select <b>Grade and Unit</b> as well as <b>Quantity</b> then click the <b>Calculate Price</b> button to get <b>Unit Price</b> and <b>Subtotal</b> values</p>


			<p><label> Unit Price: </label>
			<input id="sprice" name="price" type="search" required onkeydown="return false;" style="pointer-events: none;" /></input></p>

			<p><label> Subtotal: </label>
			<input id="sum" name="sum" type="search" required onkeydown="return false;" style="pointer-events: none;"/></input></p>

			<p><label> Date Needed: </label>
			<input type="date" name= "date_needed" required /></input></p>


			<p><input  type="submit" value ="Send Order"/></p>
			
			</div>
			<div class="details-container-right">
				<p><img class="img-container" src="{{ data.batch_img_imgur }}"></p>
				<br>
		</form>	
				<button class="tabular_button2" onclick="Calculate()" >Calculate Price</button>			   	
			</div>
	
		{% endfor %}
	     	
<script>
function Calculate(){
	if(!document.querySelector("input[type='radio'][name=grade]:checked")){
		alert("Please select Grade and Unit");
	}
	else if(document.getElementById('quan').value == ""){
		alert("Please input Quantity");
	}
	else{
		let stringdict = document.querySelector("input[type='radio'][name=grade]:checked").value;
		let quantity = document.querySelector("input[type='number'][name=quantity]").value;		
		let values_dict = JSON.parse(stringdict.replace(/'/g, '"')); 
		let quan_limit = values_dict.quantity_harvested

		let total = values_dict.price_per_unit * quantity;

		if(parseFloat(quan_limit) < parseFloat(quantity)){
			alert('ERROR: ' + quantity+ ' Quantity must not exceed ' + quan_limit +'. Please refer in the Quantity Variation Table in the previous Plant details page')
		}
		else{
			document.querySelector("input[type='search'][name=sum]").value = total;
			document.querySelector("input[type='search'][name=price]").value = values_dict.price_per_unit;
			}
		}
	}
</script>
</div>
</div>
</main>


{% endblock %}
