{% extends 'navbar.html' %} 
{% block content %}{% load filters %}
{% if messages %}
<div >
	{% for message in messages %}
	{% if message %}
		<script>alert("{{ message }}");</script>
	{% endif %}
	{% endfor %}
</div>
{% endif %} 






<center><h2>ALL RECEIVED ORDERS</h2></center>
{% if data %}


<form method="POST">{% csrf_token %}
<div class="search-container">
	<input type="number" id="myInput3" onkeyup="myFunction3()" placeholder="Search for Order Id.." title="Type in a name">
	<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
	<input type="text" id="myInput2" onkeyup="myFunction2()" placeholder="Search for Products.." title="Type in a name">	
	<i class="fa fa-search" aria-hidden="true"></i>
	
	
	<div class="right-container">
	<label>Filter by:</label>
	<button class="button_admin" type="submit" name="submit" value="date_arrived">Date Arrived</button>
	<button class="button_admin" type="submit" name="submit" value="total_amount_paid">Total Amount Paid</button>
	<button class="button_admin" type="submit" name="submit" value="payment_method">Payment Method</button>
	<button class="button_admin" type="submit" name="submit" value="u_order_id">Order ID</button>
	
	<button class="button_admin" type="submit" name="submit" value="full_name">Name</button>
	
	<i class="fa fa-filter" aria-hidden="true"></i>
	</div>
</div>
<form><br><br>
<div class="admin-table">
	<table class="table-striped" id="myTable">
		<thead>
			<tr>
				<th>User Full Name</th>
			    <th>Order ID</th>
			    <th>Plant Name</th>

			    <th>Payment Method</th>
			    <th>Total Payment</th>
			    <th>Date Arrived</th>
			    <th>Admin Action</th>
			</tr>
		</thead>
		{% for things in data %}
		<tbody>
			<tr>
			    <td>{{ things.full_name }}</td>
			    <td>{{ things.u_order_id }}</td>
			    <td>{{ things.plant_name }}</td>
			    <td>{{ things.payment_method }}</td>
			    <td>{{ things.total_amount_paid|money_format }}</td>
			    <td>{{ things.date_arrived|date_format }}</td>
			    <td>
			    <a href="{% url 'view_only_order_details' things.u_order_id %}" class="button_admin">See Details</a>					
			    </td>
			</tr>
		</tbody>
		{% endfor %}
	</table>
</div>
{% else %}
<center>--- No Received Orders at the moment ---</center>
<br><br>


{% endif %}

<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0]; /* ADJUST LANG TO WHICH ROW*/
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}

function myFunction2() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput2");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[2]; /* ADJUST LANG TO WHICH ROW*/
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}

function myFunction3() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput3");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1]; /* ADJUST LANG TO WHICH ROW*/
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>


{%endblock%}