{% extends 'navbar.html' %} 
{% block content %}
<div >
         {% for message in messages %}
         {% if message %}
          <script>alert("{{ message }}");</script>
           {% endif %}
            {% endfor %}
    </div>
<style>
	.custom-file-upload-2{
		margin-left: 120px;
	}
	input{
		text-indent: 10px;
	}
	input[type="submit"]{
		width: 360px !important;
	}
</style>
<center><h2>Redelivery Form</h2></center>

<main>
		<form class="cool_form-r" method="POST" enctype="multipart/form-data">{% csrf_token %}
		<div class="details-container">
		     <div class="details-container-left"> 
		     	{% for things in data %}
		     	
		     	<p>Transaction ID: <input type="text" style="font-weight: bold;" value="{{things.purchase_history_id}}" name="transac_id"readonly></input></p>
		     	<p>Plant Name: <input type="text"  style="font-weight: bold;" value="{{things.plant_name}}" readonly></input></p>
		     	<p>Quantity Delivered: <input type="number"style="font-weight: bold;" value='{{things.quantity |stringformat:".0f"}}' readonly></input></p>
		     	<p>Received Quantity: <input type="number" name='quan_received'></input></p>
		     	<p>Returned Quantity: <input type="number" name='returned_quan'></input></p>
		     	<p>Units: <input type="text" value="{{things.units}}"style="font-weight: bold;" name="units"readonly></input></p>
		     	<p>Reason for Re-delivery: </p>      
		     	<input type="box" name='reason_rd'></input>

		     	
		     		<br>
		     		<p>Proof of Damage:</p><br>
					<label for="file-upload" class="custom-file-upload-2">
					<i class="fa fa-image"></i>
					</label>
					<input id="file-upload" type="file" name='proof_pic' accept="image/*"/>
					<br><br>
		     	
		     	
		     	<div class="submit2">
						<p><input  type="submit" value ="Submit"/></p>
				</div>

		     	

		     </div>
		     <div class="details-container-right">
		     	
			    	<p><img class="img-container" src="{{ things.batch_img_imgur }}" ></p> 
			    	
			    	
		     </div>
		     {% endfor %}
		</div>
		</form>
	</main>




{%endblock%}