{% extends 'navbar.html' %} 
{% block content %}{% load filters %}

<center><h2>Order History</h2></center>
<center><p>Redelivery Details</p></center>
<main>
		<form class="cool_form-r" method="POST" enctype="multipart/form-data">{% csrf_token %}
		<div class="details-container">
		     <div class="details-container-left"> 
		     	{% for things in data %}
		     	<center><p style="font-size: 17px;">Redelivery Request Details</p></center><hr>
		     	<p>Redelivery ID: <b><u>{{ things.re_delivery_id }}</u></b></p>
		     		
		     	<p>Order ID: <b><u>{{things.u_order_id }}</u></b></p>
		     	<p>Plant Name: <b>{{things.plant_name}}</b></p>
		     	<p>Quantity Delivered: <b>{{things.quantity |stringformat:".0f"}} {{things.units}}</b></p>
		    	<p>Returned Quantity: <b>{{things.returned_quantity|quan_format}} {{things.units}}</b></input></p>
		     	
		     	<p>Reason for Re-delivery: <b>{{things.reason_for_redelivery}}</b></p>      
		     	

		     	
		     	
		     	<p>See your submitted proof of damage<a href="{{ things.proof_img }}" download> <u> here</u></a></p><br>

		     	

		     	<center><p style="font-size: 17px;">Redelivery Details</p></center><hr>
		     	<p>Request Date: <b>{{things.request_date|date_format }}</b></p>
		     	{% if things.is_accepted == 1 %}
		    		<p>Admin Status: <b>Accepted</b></p>

		    		{% if things.redelivery_status %}
		    		<p>Redelivery Status: <b>{{ things.redelivery_status }}</b></p>
		     		<p>Click <a href="{% url 'redelivery_info' things.re_delivery_id %}"><u>here</u></a> to see delivery info </p>
		     		{% else %}
		     		<p>Redelivery Status: <b>To be processed</b></p>
		     		{% endif %}
		     	{% elif things.is_accepted == 3 %}
		     		<p>Admin Status: <b style="color:Red"><u>Declined</u></b></p>
		     		<p>Reason: <b  style="color:Red"><u>{{ things.reason_decline }}</u></b></p>
		    	{% else %}
		    		<p>Admin Status: <b>No response yet</b></p>
		    	{% endif %}	
		    	

		     	

		     </div>
		     <div class="details-container-right">
		     	
			    	<img class="img-container" src="{{things.batch_img_imgur}}" >
			    	
			    	
		     </div>
		     {% endfor %}
		</div>
		</form>
	</main>




{%endblock%}