{% extends 'navbar.html' %} 
{% block content %}{% load filters %}

<main>
	<div class="details-container">
		{% if data %}
		<br><br>
		<div class="details-container-left"> 
			{% for things in data %}
			<center><h3>Redelivery Info</h3></center>
			<hr>
			<p>Redelivery ID: <b>{{things.re_delivery_id}}</b></p>
		    <p>Delivery Status: <b>{{things.re_delivery_status}}</b></p>
		    
		    <div class="desc-box-outer">
		     		<div class="desc-box-inner">
		     			
		     			{% with things.details|split:";" as details %}
		     			{% for stuff in details %}
		     			<p>{{stuff}}</p>
		     			{% endfor %}
		     			{% endwith %}
		     		</div>
		     	</div>
		    
		     <p>Date Shipped: <b>{{ things.date_shipped|date_format }}</b></p>
		     <p>Expected Arrival: <b>{{ things.expected_arrival|date_format }}</b></p>
		     <p>Date arrived: <b>{{ things.date_arrived|date_format }}</b></p>

		     <br><hr>
		     <center><p><b>Customer Information</b></p></center>
			 <p>Customer Name: <b>{{ things.customer_name }}</b></p>
			 <p>Contact Info: <b>{{ things.contact_info }}</b></p>

			 <p>Shipping Address: <b>{{ things.shipping_address }}</b></p>
		     {% endfor %}
		</div>
		{% else %}
		<p><i style="color:red">No delivery Info for this Redelivery yet, please wait for the admin to input</i></p>
		{% endif %}
		
	</div>
</main>


{%endblock%}