{% extends 'navbar.html' %} 
{% block content %}

<div >
	{% for message in messages %}
		{% if message %}
		<script>alert("{{ message }}");</script>
		{% endif %}
	{% endfor %}
</div>
<style>
	
	input{
		text-indent: 10px;
	}
	input[type="submit"]{
		width: 360px !important;
	}
</style>
<center><h2>Refund Form</h2></center>
	<main>
		<form class="cool_form-r" method="POST" enctype="multipart/form-data">{% csrf_token %}
		<div class="details-container">
		     <div class="details-container-left"> 
		     	{% for things in data %}

		     	<p>Transaction ID: <input type="text" style="font-weight: bold;" value="{{things.purchase_history_id}}" name="transac_id"readonly></input></p>
		     	<p>Plant Name: <input type="text"  style="font-weight: bold;" value="{{things.plant_name}}" readonly></input></p>
		     	<p>Quantity Delivered: <input type="number"style="font-weight: bold;" value='{{things.quantity |stringformat:".0f"}}' readonly></input></p>
		     	<p>Received Quantity: <input type="number" step="any" name='quantity_received' required></input></p>
		     	<p>Returned Quantity: <input type="number" step="any" name='refund_quan' required></input></p>
		     	<input type='desc' value="{{quan_limit}}" name='quan_limit' hidden/>
		     	<p>Units: <input type="text" value="{{things.units}}"style="font-weight: bold;" name="units" readonly></input></p>
		     	<p>Reason for Refund: </p>      
		     	<input type="box" name='reason_refund' required></input>

		     	
		     		<br>
		     		<p>Proof:</p>
					<label for="file-upload" class="custom-file-upload-2">
					<i class="fa fa-image"></i>
					</label>
					<input id="file-upload" type="file" name='proof_refund' accept="image/*" required/>
					<br><br>
		     	
		     	
		     		{% if payment_methods %}
					<div class="submit2" id="submitter">
						<p><input  type="submit" value ="Submit"/></p>
					</div>
					{% else %}
					<p>Please input your payment methods in order to submit the request</p>
					{% endif %}
			 <hr>
		     <p><i style="color: red;">Notes:</i></p>	
			 <p><i style="color: red;">The refund you will get for this order will be calculated by this formula: </i></p>
		     <p><b>(Units Returned ÷ Units Purchased) x 60</b></p>
		     <p>Ex: (5 units ÷ 100 units) x 60 = <b>3% of the total product price</b></p>
		     </div>
		     <div class="details-container-right">
		     		<input type='desc' name="pm_true" value ="{{ payment_methods }}" hidden/>
			    	<p><img class="img-container" src="{{ things.batch_img_imgur }}" ></p> 
			    	<p>Payment Methods Available: </p>
			    		
			    		{% if payment_methods %}
			    			<div class="table-items-smol">
						    <table class="table-striped">
							    <thead>
							     	<tr>
							     		<th>Payment Method</th>
							     		<th>Account Name</th>
							     		<th>Acccount Number</th>
							     	</tr>
							     </thead>
							     {% for i in payment_methods %}
							     <tbody>
							     	<tr>
							     		<td>{{i.payment_method}}</td>
							     		<td>{{i.account_name}}</td>
							     		<td>{{i.account_number}}</td>
							     	</tr>
							     </tbody>
							     {% endfor %}
							    </table>
						    </div>	
					    	<p><a href="{% url 'pm_refund' things.purchase_history_id %}" class="tabular_button">Add Payment Method</a></p>
					    {% else %}
					    	<p><b>None</b></p>
					    	<p><a href="{% url 'pm_refund' things.purchase_history_id %}" class="tabular_button">Add Payment Method</a></p>
					    {% endif %}
				    	
		     </div>
		     {% endfor %}
		</div>
		</form>
	</main>


{% endblock %}