{% extends 'navbar.html' %} 
{% block content %}{% load filters %}



<div>
	<div class="details-container-left"> 
		{% for things in data %}
		
		<form class="cool_form-r" method="POST"  enctype="multipart/form-data"> {% csrf_token %}
		<br><br>	
		<p>Order ID: <b>{{ things.u_order_id }}</b></p>
		<p>Refund Amount: <b>{% calc_rf things.total_amount things.returned_quantity things.quantity %}</b></p>	

	    <p>Kindly send the payment to this Account:</p>
	    <div class="details-container-left"> 
			<p>Payment Method: <b>{{ things.payment_method }}</b></p>
			<p>Phone Number: <b>{{ things.account_number }}</b></p>
			<p>Account Name: <b>{{ things.account_name }}</b></p>
			<p>Upload Proof of receipt here: </p>

			<label style="background-color: #378DFC;" for="file-upload" class="custom-file-upload">
				 <i class="fa fa-image"></i>
			</label>
			<input id="file-upload" type="file" name="proof_of_refund" accept="image/*" required/>

			<br><br>
			<br><p>Amount Paid: <input style="border-color: black;" type="number" name="refund_amount"  required/></p>
			<p><input type="aa" name="dp" value="{% calc_rf2 things.total_amount things.returned_quantity things.quantity %}" hidden/></p>

			
			<div class="submit">
				
				<button style="background-color: #378DFC;" type="button" class="button_submit" onclick="verifypayment()" id="verify" >Verify</button>
				<p><input style="background-color: #378DFC;" type="submit" name="dp" value="Submit" id="submit" hidden/></p>
			</div>
		</div>
		</form>
		{% endfor %}
	    
	</div>     
</div>
<script>
	function verifypayment(){
		let amount = document.querySelector("input[type='number'][name=refund_amount]").value;
		let payment_required = document.querySelector("input[type='aa'][name=dp]").value; 
		let pic = document.querySelector("input[type='file'][name=proof_of_refund]").value;
		console.log(pic)
		console.log(payment_required)
		console.log(amount)
		if(!pic){
			alert("Please upload your Proof of Receipt")
		}
		else if(parseFloat(payment_required) > parseFloat(amount)){
			alert("Your payment must be equal to or greater than the required downpayment (Php. " +payment_required + " )")
		}
		else if(!parseFloat(amount)){
			alert("Please input Amount Paid")
		}
		else{
			document.getElementById("submit").removeAttribute("hidden")
			document.getElementById("verify").setAttribute("hidden", true)
		}
	}

</script>
{%endblock%}