<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>FarmSys</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
    <h1 class="company">Farm MIS</h1>
    <h2 class="datsys">Farm Management Information System</h2>
<body class="login_body">

<style>
  input[type="text"],input[type="password"]{
    width: 350px !important;
    float: Right;
    clear: both;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 20px;
  }
  p{
    margin:  20px 20px 50px 20px ;
  }
</style>
  <form class="login_box" method="POST">{% csrf_token %}
    <div class ="err_message">
      {% for message in messages %}
      {% if message %}
        <p>• {{ message }}</p>
      {% endif %}
      {% endfor %}
    </div>
    <center><p>Register Account</p></center>
    <p><label>Username: </label><input type="text" name="username" placeholder="Username" required/></p>
    <p><label>Password: </label><input type="password" name="passw" placeholder="Password" required/></p>
    <p><label>Confirm Password: </label><input type="password" name="confirm_passw" placeholder="Confirm Password" required/></p>
    <p><label>Phone Number: </label><input type="text" name="phone_num" placeholder="Contact Number" required/></p>
    <center><p>Or use email instead click <a href="{% url 'register_email' %}">here</a></p></center>
    <div class="outer">
    <div class="inner"><input type="submit"  value="Submit"/></div>
    </div>
  </form>
</body>
{% block content %}
{% endblock %}
</html>
