{% extends 'navbar.html' %} 
{% block content %}{% load filters %}

{% if messages %}
<div >
	{% for message in messages %}
	{% if message %}
		<script>alert("{{ message }}");</script>
	{% endif %}
	{% endfor %}
</div>
{% endif %}  

{% if rtype == "order" %}
	<center><h2>ALL REMOVED ORDER REQUESTS</h2></center>
	{% if data %}

	<a id="view_all" href="{% url 'admin_order_requests' %}" class="button_admin">View All Orders</a>
	<br><br>
	<form method="POST">{% csrf_token %}
	<div class="search-container">
		<input type="number" id="myInput3" onkeyup="myFunction3()" placeholder="Search for Order Id.." title="Type in a name">
		<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
		<input type="text" id="myInput2" onkeyup="myFunction2()" placeholder="Search for Products.." title="Type in a name">	
		<button class="button_admin" type="submit" name="submit" value="is_admin_approved">Admin Status</button>
		<button class="button_admin" type="submit" name="submit" value="order_request_date">Date</button>
		<button class="button_admin" type="submit" name="submit" value="u_order_id">Order ID</button>
		<button class="button_admin" type="submit" name="submit" value="plant_name">Product</button>
		<button class="button_admin" type="submit" name="submit" value="full_name">Name</button>
		<label>Group by:</label>
	</div>
	<form>
	<div class="admin-table">
		
		<table class="table-striped" id="myTable">
			<thead>
				<tr>
					<th>User Full Name</th>
				    <th>Order ID</th>
				    <th>Plant Name</th>
				    <th>Request Date</th>
				    
				    <th>Refund Details</th>
				    <th>Payment Methods</th>	
				    <th>Delivery Info</th>
				    <th>Admin Status</th>
				    <th>Order Status</th>
				    <th>Admin Action</th>
				</tr>
			</thead>
			{% for things in data %}
			<tbody>
				<tr>
				    <td>{{ things.full_name }}</td>
				    <td>{{ things.u_order_id }}</td>
				    <td>{{ things.plant_name }}</td>
				    <td>{{ things.order_request_date|date_format }}</td>

				    {% if things.rd_ready != None %}
				    <td>&#10004;</td>
				    {% else %}
				    <td>&#x2718; </td>
				    {% endif %}

				    {% if things.pm_ready != None %}
				    <td>&#10004;</td>
				    {% else %}
				    <td>&#x2718; </td>
				    {% endif %}

				    {% if things.di_ready != None %}
				    <td>&#10004;</td>
				    {% else %}
				    <td>&#x2718; </td>
				    {% endif %}
				    
				 
				    {% if things.is_admin_approved == 1 %}
				    <td>Approved</td>
				    <td>{{ things.is_received|received_or_not }}</td>
				    <td>
				    	<remove>
				    	<a id="remove" onclick="return confirm('This Row will be back to view you sure you want to continue?');" href="{% url 'back_to_view' 'order' things.u_order_id %}" class="button_admin" >Back to View</a>
				    	</remove>
				    </td>
				    {% elif things.is_admin_approved == 2 %}
				    <td>Declined</td>
				    <td>N/A</td>
				    <td>
				    	<remove>
				    	<a id="remove" onclick="return confirm('This Row will be back to view you sure you want to continue?');" href="{% url 'back_to_view' 'order' things.u_order_id %}" class="button_admin" >Back to View</a>
				    	</remove>
				    </td>
				    {% else %}
				    <td>No action</td>
				    <td>N/A</td>
				    <td>

				    	<remove>
				    	<a id="remove" onclick="return confirm('This Row will be back to view you sure you want to continue?');" href="{% url 'back_to_view' 'order' things.u_order_id %}" class="button_admin" >Back to View</a>
				    	</remove>
				    </td>
				    {% endif %}
				    

				    
				</tr>
			</tbody>
			{% endfor %}
		</table>
	</div>

	{% else %}
	<center>--- Not Available at the moment ---</center><br><br>
	<center><a id="view_all" href="{% url 'admin_order_requests' %}" class="button_admin">View All Order Requests</a></center>
	{% endif %}
	<script>
	function myFunction() {
	  var input, filter, table, tr, td, i, txtValue;
	  input = document.getElementById("myInput");
	  filter = input.value.toUpperCase();
	  table = document.getElementById("myTable");
	  tr = table.getElementsByTagName("tr");
	  for (i = 0; i < tr.length; i++) {
	    td = tr[i].getElementsByTagName("td")[0]; /* ADJUST LANG TO WHICH ROW*/
	    if (td) {
	      txtValue = td.textContent || td.innerText;
	      if (txtValue.toUpperCase().indexOf(filter) > -1) {
	        tr[i].style.display = "";
	      } else {
	        tr[i].style.display = "none";
	      }
	    }       
	  }
	}

	function myFunction2() {
	  var input, filter, table, tr, td, i, txtValue;
	  input = document.getElementById("myInput2");
	  filter = input.value.toUpperCase();
	  table = document.getElementById("myTable");
	  tr = table.getElementsByTagName("tr");
	  for (i = 0; i < tr.length; i++) {
	    td = tr[i].getElementsByTagName("td")[2]; /* ADJUST LANG TO WHICH ROW*/
	    if (td) {
	      txtValue = td.textContent || td.innerText;
	      if (txtValue.toUpperCase().indexOf(filter) > -1) {
	        tr[i].style.display = "";
	      } else {
	        tr[i].style.display = "none";
	      }
	    }       
	  }
	}

	function myFunction3() {
	  var input, filter, table, tr, td, i, txtValue;
	  input = document.getElementById("myInput3");
	  filter = input.value.toUpperCase();
	  table = document.getElementById("myTable");
	  tr = table.getElementsByTagName("tr");
	  for (i = 0; i < tr.length; i++) {
	    td = tr[i].getElementsByTagName("td")[1]; /* ADJUST LANG TO WHICH ROW*/
	    if (td) {
	      txtValue = td.textContent || td.innerText;
	      if (txtValue.toUpperCase().indexOf(filter) > -1) {
	        tr[i].style.display = "";
	      } else {
	        tr[i].style.display = "none";
	      }
	    }       
	  }
	}


	</script>
{% endif %}
{% if rtype == "redelivery" %}
<center><h2>ALL REMOVED REDELIVERY REQUESTS</h2></center>
{% if data %}
<a id="remove_view" href="{% url 'admin_redelivery_requests' %}" class="button_admin">View all Redelivery Requests</a><br><br>


<form method="POST">{% csrf_token %}
<div class="search-container">
	<input type="number" id="myInput3" onkeyup="myFunction3()" placeholder="Search for Order Id.." title="Type in a name">	
	<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
	<input type="text" id="myInput2" onkeyup="myFunction2()" placeholder="Search for Products.." title="Type in a name">	
	<button class="button_admin" type="submit" name="submit" value="redelivery_status">Redelivery Status</button>
	<button class="button_admin" type="submit" name="submit" value="is_accepted">Admin Status</button>
	<button class="button_admin" type="submit" name="submit" value="request_date">Date</button>
	
	<button class="button_admin" type="submit" name="submit" value="plant_name">Product</button>
	<button class="button_admin" type="submit" name="submit" value="u_order_id">Order ID</button>
	<button class="button_admin" type="submit" name="submit" value="full_name">Name</button>
	<label>Group by:</label>
</div>
<form>
<div class="admin-table"> 
	<table class="table-striped" id="myTable">
		

		<thead>
			<tr>
				<th>User Full Name</th>
			    <th>Order ID</th>
			    <th>Plant Name</th>
			    <th>Date Requested</th>
			    <th>Redelivery Order</th>
			    <th>Redelivery Info</th>
			   
			    <th>Admin Status</th>
			    <th>Redelivery Status</th>
			    <th>Admin Action</th>
			    
			</tr>
		</thead>
		{% for things in data %}
		<tbody>
			<tr>
			    <td>{{ things.full_name }}</td>
			    <td>{{ things.u_order_id }}</td>
			    <td>{{ things.plant_name }}</td>
			    
			    <td>{{ things.request_date|date_format }}</td>
			    {% if things.rdo_ready != None %}
			    <td>&#10004;</td>
			    {% else %}
			    <td>&#x2718; </td>
			    {% endif %}

			    {% if things.rdi_ready != None %}
			    <td>&#10004;</td>
			    {% else %}
			    <td>&#x2718; </td>
			    {% endif %}


			    {% if things.is_accepted == 3 %}
			    <td> Rejected </td>
			    <td> N/A </td>
			    <td>
			    	
			    	<remove >
			    	<a id="remove" onclick="return confirm('This Row will be back to view you sure you want to continue?');" href="{% url 'back_to_view' 'redelivery' things.re_delivery_id %}" class="button_admin" >Back to View</a>
			    	</remove>
			    </td>
			    {% elif things.is_accepted == 1 %}
			    <td> Accepted </td>
			    <td> {{ things.rdi_ready }} </td>
			    <td>
			    	
			    	<remove >
			    	<a id="remove" onclick="return confirm('This Row will be back to view you sure you want to continue?');" href="{% url 'back_to_view' 'redelivery' things.re_delivery_id %}" class="button_admin" >Back to View</a>
			    	</remove>
			    </td>
			    {% else %}
			    <td> No Action </td>
			    <td> N/A </td>
			    <td>
			    	
			    	<remove >
			    	<a id="remove" onclick="return confirm('This Row will be back to view you sure you want to continue?');" href="{% url 'back_to_view' 'redelivery' things.re_delivery_id %}" class="button_admin" >Back to View</a>
			    	</remove>
			    </td>
			    {% endif %}
			    

			    
			</tr>
		</tbody>
		{% endfor %}
	</table>
</div>
{% else %}

<center>--- Not Available at the moment ---</center><br><br>
<center><a id="view_all" href="{% url 'admin_redelivery_requests' %}" class="button_admin">View Redelivery Requests</a></center>
{% endif %}

<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0]; /* ADJUST LANG TO WHICH ROW*/
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}

function myFunction2() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput2");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[2]; /* ADJUST LANG TO WHICH ROW*/
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
function myFunction3() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput3");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1]; /* ADJUST LANG TO WHICH ROW*/
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>
{% endif %}
{% if rtype == "cancelled" %}
<center><h2>ALL REMOVED CANCELLED ORDERS</h2></center>
{% if data %}


<a id="remove_view" href="{% url 'admin_cancelled_orders' %}" class="button_admin">View all Cancelled Orders</a><br><br>

<form method="POST">{% csrf_token %}
<div class="search-container">
	<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
	<input type="number" id="myInput3" onkeyup="myFunction3()" placeholder="Search for Order Id.." title="Type in a name">
	<input type="text" id="myInput2" onkeyup="myFunction2()" placeholder="Search for Products.." title="Type in a name">	

	<button class="button_admin" type="submit" name="submit" value="refund_date">Admin Status</button>
	<button class="button_admin" type="submit" name="submit" value="cancel_date">Date</button>
	<button class="button_admin" type="submit" name="submit" value="u_order_id">Order ID</button>
	<button class="button_admin" type="submit" name="submit" value="plant_name">Product</button>
	<button class="button_admin" type="submit" name="submit" value="full_name">Name</button>
	<label>Group by:</label>
</div>
<form>
<div class="admin-table">
	<table class="table-striped" id="myTable">
		<thead>
			<tr>
				<th>User Full Name</th>
			    <th>Order ID</th>

			    <th>Plant Name</th>

			    <th>Cancel Date</th>

			    <th>Refund Status</th>
			    <th>Admin Action</th>
			</tr>
		</thead>
		{% for things in data %}
		<tbody>
			<tr>
			    <td>{{ things.full_name }}</td>
			    <td>{{ things.u_order_id }}</td>

			    <td>{{ things.plant_name }}</td>

			    <td>{{ things.cancel_date|date_format }}</td>

			    {% if things.refund_date %}
			    <td>Paid</td>
			    <td>
			    	
			    	<remove >
			    	<a id="remove" onclick="return confirm('This Row will be back to view you sure you want to continue?');" href="{% url 'back_to_view' 'cancelled' things.u_order_id %}" class="button_admin" >Back to View</a>
			    	</remove>
			    </td>
			    {% else %}
			    <td>Ongoing</td>
			    <td>
			    	
			    	<remove >
			    	<a id="remove" onclick="return confirm('This Row will be back to view you sure you want to continue?');" href="{% url 'back_to_view' 'cancelled' things.u_order_id %}" class="button_admin" >Back to View</a>
			    	</remove>
			    </td>
			    {% endif %}
			   	
			</tr>
		</tbody>
		{% endfor %}
	</table>
</div>
{% else %}
<center>--- Not Available at the moment ---</center><br><br>
<center><a id="view_all" href="{% url 'admin_cancelled_orders' %}" class="button_admin">View All Cancelled Requests</a></center>
{% endif %}
<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0]; /* ADJUST LANG TO WHICH ROW*/
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}

function myFunction2() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput2");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[2]; /* ADJUST LANG TO WHICH ROW*/
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
function myFunction3() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput3");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1]; /* ADJUST LANG TO WHICH ROW*/
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>
{% endif %}
{% if rtype == "announcements" %}
<center><h2>ALL REMOVED PUBLISHED ANNOUNCEMENTS</h2></center>
{% if data %}
<a id="remove_view" href="{% url 'announcements_admin' %}" class="button_admin">View all Announcements</a><br><br>
<br>
<center><a style="float:right; margin-right: 10px; font-size:15px;" href="{% url 'add_announcement' 'add' '0' %}" class="button_admin">Add New Announcement</a></center><br>
<br>
<form method="POST">{% csrf_token %}
<div class="search-container">
	<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for titles.." title="Type in a name">

	<button class="button_admin" type="submit" name="submit" value="a_status">Status</button>
	<button class="button_admin" type="submit" name="submit" value="a_days">Days Remaining</button>
	<button class="button_admin" type="submit" name="submit" value="a_date_published">Date Published</button>
	<button class="button_admin" type="submit" name="submit" value="a_title">Name</button>
	<label>Group by:</label>
</div>
<form>
<div class="admin-table">
	<table class="table-striped" id="myTable">
		<thead>
			<tr>
				<th>Title</th>
			    <th>Date Published</th>
			    <th>Days to be posted</th>
			    <th>Announcement Status</th>
			    <th>Admin Action</th>
			</tr>
		</thead>
		{% for things in data %}
		<tbody>
			<tr>
			    <td>{{ things.a_title }}</td>
			    <td>{{ things.a_date_published|date_format }}</td>
			    <td>{{ things.a_days }} days</td>
			    <td>{{ things.a_status|announcement_status }}</td>
			    <td>
			    	
			      <remove >
			    	<a id="remove" onclick="return confirm('This Row will be back to view you sure you want to continue?');" href="{% url 'back_to_view' 'announcements' things.a_id %}" class="button_admin" >Back to View</a>
			    	</remove>
			    </td>
			</tr>
		</tbody>
		{% endfor %}
	</table>
</div>
{% else %}
<center>--- Not Available at the moment ---</center><br><br>
<center><a id="view_all" href="{% url 'announcements_admin' %}" class="button_admin">View All Announcements</a></center>

{% endif %}
<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0]; /* ADJUST LANG TO WHICH ROW*/
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}


</script>
{% endif %}
{% if rtype == "refund" %}
<center><h2>ALL REMOVED REFUND REQUESTS</h2></center>
{% if data %}
<a id="remove_view" href="{% url 'announcements_admin' %}" class="button_admin">View all Refund Requests</a><br><br><br>


<form method="POST">{% csrf_token %}
<div class="search-container">
	<input type="number" id="myInput3" onkeyup="myFunction3()" placeholder="Search for Order Id.." title="Type in a name">
	<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
	<input type="text" id="myInput2" onkeyup="myFunction2()" placeholder="Search for Products.." title="Type in a name">	
	<button class="button_admin" type="submit" name="submit" value="refund_amount">Refund Status</button>
	<button class="button_admin" type="submit" name="submit" value="is_accepted">Admin Status</button>
	<button class="button_admin" type="submit" name="submit" value="request_date">Date</button>
	<button class="button_admin" type="submit" name="submit" value="u_order_id">Order ID</button>
	<button class="button_admin" type="submit" name="submit" value="plant_name">Product</button>
	<button class="button_admin" type="submit" name="submit" value="full_name">Name</button>
	<label>Group by:</label>
</div>
<form>
<div class="admin-table">
	<table class="table-striped" id="myTable">
		
		<thead>
			<tr>
					<th>User Full Name</th>
			    <th>Order ID</th>
			    <th>Plant Name</th>
			    <th>Date Requested</th>


			    <th>Admin Status</th>
			    
			    <th>Refund Status</th>
			    
			    <th>Admin Action</th>
			</tr>
		</thead>
		{% for things in data %}
		<tbody>
			<tr>
			    <td>{{ things.full_name }}</td>
			    <td>{{ things.u_order_id }}</td>
			    <td>{{ things.plant_name }}</td>
			    <td>{{ things.request_date|date_format }}</td>


			    {% if things.is_accepted == 1 %}
			    	{% if things.refund_amount %}
			    		<td>Accepted</td>
					    <td>Paid</td>
					    <td>
					    	<remove >
					    	<a id="remove" onclick="return confirm('This Row will be moved back to view, you sure you want to continue?');" href="{% url 'back_to_view' 'refund' things.refund_id %}" class="button_admin" >&#x2718</a>
					    	</remove>
					    </td>
			    	{% else %}
			    		<td>Accepted</td>
					    <td>No Payment</td>
					    <td>
					    	<remove >
			    			<a id="remove" onclick="return confirm('This Row will be moved back to view, you sure you want to continue?');" href="{% url 'back_to_view' 'refund' things.refund_id %}" class="button_admin" >&#x2718</a>
			    			</remove>
					    </td>
			    	{% endif %}
			    {% elif things.is_accepted == 3%}
			    <td>Declined</td>
			    <td>N/A</td>
			    <td>
			    	<remove >
	    			<a id="remove" onclick="return confirm('This Row will be moved back to view, you sure you want to continue?');" href="{% url 'back_to_view' 'refund' things.refund_id %}" class="button_admin" >&#x2718</a>
	    			</remove>
			    </td>
			    {% else %}
			    <td>No Response</td>
			    <td>N/A</td>
			    <td>
			    	<remove >
	    			<a id="remove" onclick="return confirm('This Row will be moved back to view, you sure you want to continue?');" href="{% url 'back_to_view' 'refund' things.refund_id %}" class="button_admin" >&#x2718</a>
	    			</remove>
			    </td>
			    {%endif %}
			</tr>
		</tbody>
		{% endfor %}
	</table>
</div>
{% else %}
<center>--- Not Available at the moment ---</center><br><br>
<center><a id="view_all" href="{% url 'admin_refund_requests' %}" class="button_admin">View All Refund Requests</a></center>
{% endif %}
<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0]; /* ADJUST LANG TO WHICH ROW*/
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}

function myFunction2() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput2");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[2]; /* ADJUST LANG TO WHICH ROW*/
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
function myFunction3() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput3");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1]; /* ADJUST LANG TO WHICH ROW*/
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
function removeToView(){
	
	const admin = document.getElementsByTagName("admin")
	const remove = document.getElementsByTagName("remove")
	const button = document.getElementById("remove_view") 
	const button2 = document.getElementById("back_to_view")
	const view_all = document.getElementById("view_all")
	for(i=0; i<admin.length; i++){
		admin[i].setAttribute('hidden', true)
	}
	for(j=0; j<remove.length; j++){
		remove[j].removeAttribute("hidden");
	}

	button.setAttribute('hidden', true);
	button2.removeAttribute("hidden");
	view_all.setAttribute('hidden', true);
}
function backToView(){
	
	const admin = document.getElementsByTagName("admin")
	const remove = document.getElementsByTagName("remove")
	const button = document.getElementById("remove_view") 
	const button2 = document.getElementById("back_to_view")
	const view_all = document.getElementById("view_all")
	for(i=0; i<remove.length; i++){
		remove[i].setAttribute('hidden', true)
	}
	for(j=0; j<admin.length; j++){
		admin[j].removeAttribute("hidden");
	}
	button2.setAttribute('hidden', true);
	button.removeAttribute("hidden");
	view_all.removeAttribute("hidden");
}
</script>
{% endif %}
{%endblock%}