{% extends 'navbar.html' %} 
{% block content %}{% load filters %}
{% if messages %}
<div >
	{% for message in messages %}
	{% if message %}
		<script>alert("{{ message }}");</script>
	{% endif %}
	{% endfor %}
</div>
{% endif %}  


<center><h2>Sales Summary </h2></center>
<form method="POST">{% csrf_token %}
<div class="search-container">
	
	<input type="number" id="myInput" onkeyup="myFunction()" placeholder="Search for Order Id.." title="Type in a name">
	<input type="text" id="myInput2" onkeyup="myFunction2()" placeholder="Search for method.." title="Type in a name">
  <input type="text" id="myInput3" onkeyup="myFunction3()" placeholder="Search for acc. name.." title="Type in a name">
  <input type="month" name="months" required>
  <input type="submit" class="button_admin" value="GO TO DATE"/>
  <i class="fa fa-search" aria-hidden="true"></i><br>
  
  <label>Order by:</label>
  <button class="button_admin" type="button" onclick="sortTable6()">Order ID</button> 
	<button class="button_admin" type="button" onclick="sortTable()">Total Income</button>
	<button class="button_admin" type="button" onclick="sortTable2()">Replacement loss</button>
	<button class="button_admin" type="button" onclick="sortTable4()">Refund (Faulty)</button> 
	<button class="button_admin" type="button" onclick="sortTable3()">Refund (Cancel)</button>  
	<button class="button_admin" type="button" onclick="sortTable5()">Amount Paid</button> 

  <i class="fa fa-filter" aria-hidden="true"></i>
 
</div>
</form><br>
<div class="admin-table">
	{% if data %}
  <table class="table-striped" id="myTable">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Payment <br>Method</th>
        <th>Account Name</th> 
        <th>Total Order <br>Price</th>
        <th>Total Amount <br>Paid</th>
        <th>Date <br>Paid </th>
        <th>Cancellation <br>Refund</th>
        <th>Cancellation <br>Date</th>
        <th>Refund for <br>Faulty Product</th>
        <th>Replacement <br>Quantity Loss</th>
        <th>Potential <br>Income loss</th>
        <th>Total Income</th>
      </tr>
    </thead>
    {% for things in data %}
    <tbody>
      <tr>
        {% if things.total_amount_paid != "0" %}
          <td>{{ things.u_order_id }}</td>
          
         
          <td>{{ things.payment_method }}</td>
          <td>{{ things.account_name }}</td>
          <td>{{ things.total_amount|add:things.delivery_fee|money_format }}</td>
          <td style="color:green">{{ things.total_amount_paid|money_format }}</td>

          <td>{{ things.date_paid|date_format }}</td> 

          {% if things.is_cancelled == 1 %}
          <td style="color:Red">- {{ things.cancel_refund_amount|money_format }}</td>
          {% else %}
          <td>Php. 0.00</td>
          {% endif %}

          <td>{{ things.cancel_date|date_format }}</td> 

          {% if things.refund_amount %}
          <td style="color:Red">- {{ things.refund_amount|money_format }}</td>
          {% else %}
          <td>Php. 0.00</td>
          {% endif %}

          {% if things.returned_quantity %}
          <td  style="color:red">- {{ things.returned_quantity|quan_format }} {{ things.units }}</td>
          <td style="color:Red">- {{ things.returned_quantity|total_redelivery_loss:things.price_per_unit|money_format }}</td>
          {% else %}
          <td>0</td>
          <td>Php. 0.00</td>
          {% endif %}
          
          <td style="color:green">{% calc_total_income things.total_amount_paid things.cancel_refund_amount things.refund_amount things.returned_quantity things.price_per_unit%}</td>

        {% endif %}
      </tr>
    </tbody>
    {% endfor %}
  </table>
  {% else %}
  <center><i><p style="color:red; font-size: 18px;"> No Data Available </p></i></center>
  {% endif %}
</div>

<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0]; /* ADJUST LANG TO WHICH ROW*/
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}

function myFunction2() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput2");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1]; /* ADJUST LANG TO WHICH ROW*/
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}

function myFunction3() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput3");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[2]; /* ADJUST LANG TO WHICH ROW*/
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}






function sortTable() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("myTable");
  switching = true;
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      if(rows[i+1].getElementsByTagName("td")[11] != null){
        y = rows[i+1].getElementsByTagName("td")[11].innerHTML;
      }
      else{
        y = "Php. 0.00"
      }

      if(rows[i].getElementsByTagName("td")[11] != null){
        x = rows[i].getElementsByTagName("td")[11].innerHTML;
      }
      else{
        x = "Php. 0.00"
      }
      //check if the two rows should switch place:
      if (Number(x.slice(4)) < Number(y.slice(4))) {
        //if so, mark as a switch and break the loop:
        shouldSwitch = true;
        break;
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}


function sortTable2() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("myTable");
  switching = true;
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      if(rows[i+1].getElementsByTagName("td")[10] != null){
        y = rows[i+1].getElementsByTagName("td")[10].innerHTML;
      }
      else{
        y = "- Php. 0.00"
      }

      if(rows[i].getElementsByTagName("td")[10] != null){
        x = rows[i].getElementsByTagName("td")[10].innerHTML;
      }
      else{
        x = "- Php. 0.00"
      }

      //check if the two rows should switch place:
      if (Number(x.slice(6)) < Number(y.slice(6))) {
        //if so, mark as a switch and break the loop:
        shouldSwitch = true;
        break;
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}


function sortTable3() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("myTable");
  switching = true;
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      if(rows[i+1].getElementsByTagName("td")[6] != null){
        y = rows[i+1].getElementsByTagName("td")[6].innerHTML;
      }
      else{
        y = "- Php. 0.00"
      }

      if(rows[i].getElementsByTagName("td")[6] != null){
        x = rows[i].getElementsByTagName("td")[6].innerHTML;
      }
      else{
        x = "- Php. 0.00"
      }
      //check if the two rows should switch place:
      if (Number(x.slice(6)) < Number(y.slice(6))) {
        //if so, mark as a switch and break the loop:
        shouldSwitch = true;
        break;
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}


function sortTable4() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("myTable");
  switching = true;
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      if(rows[i+1].getElementsByTagName("td")[8] != null){
        y = rows[i+1].getElementsByTagName("td")[8].innerHTML;
      }
      else{
        y = "- Php. 0.00"
      }

      if(rows[i].getElementsByTagName("td")[8] != null){
        x = rows[i].getElementsByTagName("td")[8].innerHTML;
      }
      else{
        x = "- Php. 0.00"
      }
      //check if the two rows should switch place:
      if (Number(x.slice(6)) < Number(y.slice(6))) {
        //if so, mark as a switch and break the loop:
        shouldSwitch = true;
        break;
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}


function sortTable5() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("myTable");
  switching = true;
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      if(rows[i+1].getElementsByTagName("td")[4] != null){
        y = rows[i+1].getElementsByTagName("td")[4].innerHTML;
      }
      else{
        y = "Php. 0.00"
      }

      if(rows[i].getElementsByTagName("td")[4] != null){
        x = rows[i].getElementsByTagName("td")[4].innerHTML;
      }
      else{
        x = "Php. 0.00"
      }
      //check if the two rows should switch place:
      if (Number(x.slice(4)) < Number(y.slice(4))) {
        //if so, mark as a switch and break the loop:
        shouldSwitch = true;
        break;
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}

function sortTable6() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("myTable");
  switching = true;
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      if(rows[i+1].getElementsByTagName("td")[0] != null){
        y = rows[i+1].getElementsByTagName("td")[0].innerHTML;
      }
      else{
        y = 0
      }

      if(rows[i].getElementsByTagName("td")[0] != null){
        x = rows[i].getElementsByTagName("td")[0].innerHTML;
      }
      else{
        x = 0
      }
      //check if the two rows should switch place:
      if (Number(x) < Number(y)) {
        //if so, mark as a switch and break the loop:
        shouldSwitch = true;
        break;
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}
/* 
function sortTable6() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("myTable");
  rows = table.rows;
  for (i = 1; i < (rows.length - 1); i++) {
    x = rows[i].getElementsByTagName("td")[0];
    y = rows[i + 1].getElementsByTagName("td")[0];
    if (Number(x.innerHTML) < Number(y.innerHTML)) {
        rows[i].getElementsByTagName("td")[0].innerHTML; = y.innerHTML
        rows[i + 1].getElementsByTagName("td")[0].innerHTML; = x.innerHTML
       
      }
    }
    
  }




*/



</script>
{%endblock%}