{% extends 'navbar.html' %} 
{% block content %}
{% load filters %}
		<div >
         {% for message in messages %}
         {% if message %}
          <script>alert("{{ message }}");</script>
           {% endif %}
            {% endfor %}
    	</div>
<center><h1>Successful Orders</h1></center>
<main>
	<div class="details-container">
		{% for things in data %}
		<div class="details-container-left"> 
			<br>
			<p>Order ID: <b>{{ things.u_order_id }}</b></p>
		    <p>Plant Name: <b>{{ things.plant_name }}</b></p>
		    <p>Quantity: <b>{{ things.confirmed_quantity }} {{ things.units }}</b></p>
		   	<p>Price per unit: <b>Php. {{ things.confirmed_quantity|price_per_unit:things.total_amount|money_format }}</b></p>
		   	<p>Product Total Price: <b>{{ things.total_amount|money_format }}</b></p>
		   	<p>Delivery fee: <b>{{ things.delivery_fee|money_format }}</b></p>
		    <p>Total Amount: <b> {{ things.delivery_fee|add:things.total_amount|money_format }}</b></p>
		    <p>Expected Delivery arrival: <b>{{ things.expected_date_arrival|date_format }}</b></p>
			<p>Requested Delivery arrival : <b>{{ things.date_needed|date_format }}</b></p>
			<p>Date Arrived: <b>{{ things.date_arrived }}</b></p>
			<p>Delivery status: Click <a href="{% url 'delivery_info' things.f_order_id %}"><u>here </u></a>to see delivery info </p>

			{% if data2 %}
				{% for i in data2 %}
				<p>Feedback : <b>{{ i.feedback }}</b></p>
				{% endfor %}
				{% else %}
				<p>Feedback : <b>NA</b></p>
			{% endif %}

			<hr>
		    <center><b>Payment Informations</b></center>

		    <p>You Paid using: <b>{{things.payment_method}}</b></p>	
			<p>Total amount paid: <b>{{things.total_amount_paid|money_format }}</b></p>				
			<p>Total Amount Payable left: <b> {{ things.balance_to_pay|money_format }}</b></p>
			{% if things.dp_paid|to_float == 1 %}
			<p>Down Payment Status: <b>PAID</b></p>	
			{% else %}
			<p>Down Payment Status: <b>NOT ENOUGH PAYMENT</b></p>	
			{% endif %}

			{% if things.fp_paid|to_float == 1 %}
			<p>Full Payment Status: <b>PAID</b></p>	
			{% else %}
			<p>Full Payment Status: <b>NOT ENOUGH PAYMENT</b></p>	
			{% endif %}
			
			
		    <hr>

		    <center><b>Payments Done</b></center>
		    <p><a href="{% url 'view_payment_done' things.p_id %}" class="tabular_button-notopmargin">Click here to View your Payment details</a></p>
		    
			{% if things.fp_paid|to_float == 1 %}
			<center><p><i style="color:red;">You completed your payment</i></p></center>
			{% else %}
			<br><p><a href="{% url 'payment' things.payment_method things.p_id %}" class="tabular_button-notopmargin">Make another payment using {{ things.payment_method }}</a></p>
			{% endif %}
			
			
		</div>     

		<div class="details-container-right">
			<p><img class="img-container" src="{{ things.batch_img_imgur }}" ></p>
			{% if data2 %}
				{% for i in data2 %}
					{% if is_refund or is_redelivery %}
						{% if is_refund %}
							{% for k in is_refund %}
								{% if k.is_accepted == 1 %}
									{% if k.refund_status == 1 %}
										<p> Your refund request for this order has been accepted</p>	
										<p> Refund Amount: <b> {{k.refund_amount|money_format }}</b>
										<br><br> Date Refunded: <b>{{k.date_of_refund|date_format}}</b>
										<br><br> Proof: Click this <a href="{{k.proof_refund}}" download><u>link</u></a>
										<br><br> For more info visit this <a href="{% url 'refund_details' k.refund_id %}"><u>link</u></a></p>
									{% else %}
										<p>Admin accepted your Refund request for this product please wait for more details</p>	
									{% endif %}
								{% elif k.is_accepted == 3 %}
								    <p> Your refund has been rejected
								    	<br>Admin note: <b> <u><i>{{ k.reason_decline }}</i></u> </b></p>
								{% else %}
									<p> You have an ongoing refund request for this order</p>
								{% endif %}
							{% endfor %}					
						{% endif %}


						{% if is_redelivery %}
							{% for iiiii in is_redelivery %}
							<p> You have a redelivery request for this order
								{% if iiiii.redelivery_status %}
									<br><br>Re-delivery Status: <b>{{ iiiii.is_accepted|accept_format }}</b>
								{% else %}
									<br><br>Re-delivery Status: <b>{{ iiiii.is_accepted|accept_format }}</b>
								{% endif %}
							<br><br>For more information, please go to this <a href="{% url 'redelivery_details' iiiii.purchase_history_id %}"><u>link</u></a></p>
							{% endfor %}
						{% endif %}
					{% else %}
					<p><a href="{% url 'refund_form' i.purchase_history_id %}" class="tabular_button">Request for Refund</a></p>
					<p><a href="{% url 'redelivery_form' i.purchase_history_id %}" class="tabular_button">Request for Redelivery</a></p>
					{% endif %}
				{% endfor %}
			{% else %}
				<p> Kindly Submit your feedback below in order to request for refunds or redelivery</p>
			
			<form class="cool_form-l" method="POST">{% csrf_token %}
				<input type="search" name='transaction_id' value="{{ things.transaction_id }}" hidden></input>
				<input type="search" name='user_id' value="{{ userid }}" hidden></input>
				<input type="description" name='feedback' required></input>
		     	<button type="submit" class="tabular_button-nomargins">Submit</button>
			</form>
			{% endif %}
		    </div>
		</div>
		{% endfor %}
	</div>
</main>



{%endblock%}