{% extends 'navbar.html' %} 
{% block content %}
{% load filters %}

<center><p>To be confirmed by Admin</p></center>

<main>
	{% for things in data %}
	<div class="details-container">
		<div class="details-container-left"> 
			<br>
			<p>Order ID: <b>{{ things.u_order_id }}</b></p>
		    <p>Plant Name: <b>{{ things.plant_name }}</b></p>
		    <p>Requested Quantity: <b>{{ things.quantity|floatformat:0 }} {{ things.units }}</b></p>
		  
		    <p>Price per unit: Php. <b>{{ things.price_per_unit|floatformat:2 }}</b></p>
		    <p>Total amount: <b>Php. {{ total|floatformat:2 }}</b></p>
		    
			<p>Requested Delivery Date : <b>{{ things.date_needed|date_format }}</b></p>
			<p>Request Date: <b>{{ things.order_request_date|date_format }}</b>
			{% if things.is_admin_approved == 1 %}
	    	<p>Admin Confirmation: <b>Accepted</b></p>
	    	{% elif things.is_admin_approved == 2 %}
	    	<p>Admin Confirmation: <b>Rejected</b></p>
	    	<p>Reason for rejection: <b> <u>{{ things.request_decline_reason }}</u></b></p>
	    	{% else %}
	    	<p>Admin Confirmation: <b>No response</b></p>
	    	{% endif %}
			
			
			
		</div>     



		<div class="details-container-right">
			<p><img class="img-container" src="{{ things.batch_img_imgur }}" ></p>
		    </div>
		</div>
	</div>
	{% endfor %}
</main>



{%endblock%}
