{% extends 'navbar.html' %} 
{% block content %}{% load filters %}

{% if pm_form.errors %}
	ul>
	{% for error in pm_form.errors %} 
	<script>alert("Error missing: {{ error }}");</script>
	{% endfor %}
	</ul>
{% endif %}  
{% if messages %}
<div >
	{% for message in messages %}
	{% if message %}
		<script>alert("{{ message }}");</script>
	{% endif %}
	{% endfor %}
</div>
{% endif %} 
<style>
	label{
		font-size: 17px;
		font-weight: bold;
	}

	.button_admin{
		background-color: #378DFC;
		font-weight: bold;
		padding: 7px 8px 7px 8px;
		
	}

	center{
		font-size: 17px;
	}
	.admin_left{
		margin-left: 90px;
	}
	.submit_button {
	  margin-top: 15px;
	  
	  padding: 6px 0px 6px 0px;
	  width: 100%;
	  border: 2px solid grey;
	  color: black;
	  border-radius: 7px;
	  transition: 0.25s;
	  cursor: pointer;
	  font-family: "Source Sans Pro", sans-serif;
	  font-size:  16px;
	  background: #378DFC; 
	  margin-bottom: 70px;
	}
	.submit_button:hover {
	  color: black;
	  font-weight: bold;
	  background: #D9E3F1;
	}
</style>
<br>

<center>UPDATE PAYMENT METHODS</center>

<div class="admin-container">
<div class="admin_left">
<form class="cool_form" method="POST">{% csrf_token %}
	{% for things in data %}
	
	<input type=search name="f_order_id" value="{{ things.f_order_id }} "hidden/>
	<input type=search name="is_selected" id="is_selected" value="{{ things.is_selected }} "hidden/>

	<p><label>Order ID:</label>
	<input type=search value="{{ things.u_order_id }}" readonly/></p>

	<p><label>Payment Method:</label>
	<input type="search" id="payment_method"  name="payment_method" value="{{ things.payment_method }}" readonly/></p>

	<p><label>Account Number</label>
	<input type=search id="account_number" name="account_number" value="{{ things.account_number }}" readonly/></p>

	<p><label>Amount Name</label>
	<input type=search id="account_name" name="account_name" value="{{ things.account_name }}" readonly/></p>

	<p><label>Total Amount Paid</label>
	<input type=search id="account_name" name="account_name" value="{{ things.total_amount_paid|money_format }}" readonly/></p>

	<button class="submit_button" id="edit_button" type='button' onclick="Edit()" >EDIT</button>
	<button class="submit_button" id="save_button" type="submit" hidden>Confirm</button>
	

	</form>

	{% if things.is_selected == 1 %}
	<br><br><center>User has selected this payment method to pay below are its details</center><br>
	{% for things2 in payments_done %}
		<br><br><center> Payment no. {{ things2.payment_done_id }}</center><br>
		<center><i style="color:  red;">Click edit button to confirm user's payment amount</i></center>
		<div class="cool_form" >
			<p><label>Paid for:</label>
			<input type=search id="payment_for" name="payment_for" value="{{ things2.payment_for }}" readonly/></p>

			

			<label>Download proof of payment<a href="{{ things2.proof_of_payment }}" download> <u> here</u></a></label>

			<p><label>Amount paid: </label>
			<input type=search id="amount_paid" name="amount_paid" value="{{ things2.amount_paid }}" readonly/></p>

			<p><label>Date paid: </label>
			<input type=search name="date_paid" value="{{ things2.date_paid|date_format }}" readonly/></p>

			<p><label>Admin Status: </label>
			{% if things2.is_confirmed == 1 %}
			<input type=search name="date_paid" value="Confirmed" readonly/></p>
			<br><br>
			{% else %}
			<input type=search name="date_paid" value="Not yet confirmed" readonly/></p>
			<a href="{% url 'confirm_payment_amount' things2.payment_done_id %}" style="color:black;"><button  class="submit_button" type='submit'> Click here to confirm</button></a>
			{% endif %}
			
			
		</div>
	{% endfor %}
	{% else %}
	<br><br><center><i style="color: red;font-weight: 500;">User has yet not selected this payment method to pay</i></center><br>
	{% endif %}

	{% endfor %}
	
	
</div>
</div>


<script>
function Edit(){
	alert("You can now edit")
	document.getElementById('edit_button').setAttribute('hidden', true);
	document.getElementById('save_button').removeAttribute("hidden");

	document.getElementById('payment_method').removeAttribute("readonly");
	document.getElementById('payment_method').setAttribute('required', true);

	document.getElementById('account_name').removeAttribute("readonly");
	document.getElementById('account_name').setAttribute('required', true);

	document.getElementById('account_number').removeAttribute("readonly");
	document.getElementById('account_number').setAttribute('required', true);
	

	if(document.getElementById('is_selected').value == 1){
		document.getElementById('amount_paid').removeAttribute("readonly");
		document.getElementById('amount_paid').setAttribute('required', true);

		document.getElementById('payment_for').removeAttribute("readonly");
		document.getElementById('payment_for').setAttribute('required', true);
	}
	
}

</script>


{%endblock%}