{% extends 'navbar.html' %} 
{% block content %}{% load filters %}
<div >
         {% for message in messages %}
         {% if message %}
          <script>alert("{{ message }}");</script>
           {% endif %}
            {% endfor %}
    </div>
<center><h2> All Refunds </h2></center>
<main class="container-d" >
{% if data %}

    <div class="d-flex flex-wrap">
        {% for things in data %}
        <a class="click-dis" href="">
        <div class="i-container">
            <div class="main-title">
                <img src="{{ things.batch_img }}" >
                <p class="main-title"><b>{{ things.plant_name }}</b></p>
            </div>
            <div class ="sub-details">
                <p><b>PLANT NAME</b></p>
                
                <p>Refund Status: <b>{{things.is_accepted }}</b></p>
            </div>     
        </div> 
        </a> 
        {% endfor %}
{% else %}
    <center>--- No ongoing Refund Available at the moment ---</center>
{% endif %}     
    </div>  
</main>   


{%endblock%}