{% extends 'navbar.html' %} 
{% block content %}{% load filters %}
<div >
         {% for message in messages %}
         {% if message %}
          <script>alert("{{ message }}");</script>
           {% endif %}
            {% endfor %}
    </div>
<center>
    <h2> Hello {{ request.user.username }}! This is your Statement Of Account</h2>
        <h3>Please select your order to see your SOA</h3>
</center>

<br>
<style>
input{text-indent: 5px;width: 260px !important;}.right{float: right; margin-right: 45px;}
</style>

<main class="container-d" >
{% if data %}
<div style="" class="cool_form-r right">
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for plant names or order id's.." title="Type in a name"><i class="fa fa-search" aria-hidden="true"></i>
</div><br><br>
<div class="d-flex flex-wrap" id="myTable">
{% for things in data %}
<div class="items">
<a class="click-dis" href="{% url 'soa_billing' things.f_order_id %}">
    <div class="i-container">
        <div class="main-title">
            <img src="{{ things.batch_img_imgur }}" >
            <p class="main-title"><b>{{ things.plant_name }}</b></p>
        </div>
        <div class ="sub-details">
            <p>Order ID: <b>{{things.u_order_id}}</b></p>
        </div>     
    </div> 
</a> 
</div>
{% endfor %}
{% else %}
    <center>--- You currently have no Orders ---</center>
{% endif %}     
</div>  
</main>    
<script>
function myFunction() {
  var input = document.getElementById("myInput");
  var filter = input.value.toLowerCase();
  var nodes = document.getElementsByClassName('items');
  for (i = 0; i < nodes.length; i++) {
    if (nodes[i].innerText.toLowerCase().includes(filter)) {
      nodes[i].style.display = "block";
    } else {
      nodes[i].style.display = "none";
    }
  }
}
</script>
{%endblock%}