{% extends 'navbar.html' %} 
{% block content %}{% load filters %}


<center><h2>ORDER DETAILS</h2></center>
<!--
{{ data }}<br><br>
{{ delivery_info}}<br><br>
{{ payment_methods }}<br><br>
{{refund_details}}
<br><br> -->

{% if form.errors %}
	ul>
	{% for error in form.errors %} 
	<script>alert("Error missing: {{ error }}");</script>
	{% endfor %}
	</ul>
{% endif %}  
{% if messages %}
<div >
	{% for message in messages %}
	{% if message %}
		<script>alert("{{ message }}");</script>
	{% endif %}
	{% endfor %}
</div>
{% endif %}  
<style>
	label, th, td{
		font-size: 17px;
		font-weight: bold;
	}
	.button_admin{
		background-color: #378DFC;
		font-weight: bold;
		padding: 7px 8px 7px 8px;
		
	}

	center{
		font-size: 17px;
		font-weight: bold;
	}
	.refund_stuff p{
		font-size: 17px;
	}
</style>
<div class="admin-container">
	<div class="admin_left">
		<form class="cool_form" method="POST">{% csrf_token %}
	{% for things in data %}
		<center>USER DETAILS</center><br>
		<p><label>User Full Name:</label>
		<input type="search" value = "{{ things.full_name }}" name="u_order_id" readonly /></input></p>

		<p><label>Email:</label>
		<input type="search" value = "{{ things.email_ad }}" name="harvest_id" readonly /></input></p>

		<p><label>Contact Number:</label>
		<input type="search" value = "{{ things.phone_num }}" name="plant_name" readonly /></input></p>

		<p><label>Address:</label>
		<input type="search" value = "{{ things.shipping_address }}" name="plant_name" readonly /></input></p>
		<br><hr><br>
		<center>ORDER DETAILS</center><br>
		<p><label> Order ID:</label>
		<input type="search" value = "{{ things.u_order_id }}" name="u_order_id" readonly /></input></p>

		<p><label> Harvest ID:</label>
		<input type="search" value = "{{ things.harvest_id }}" name="harvest_id" readonly /></input></p>

		<p><label> Plant Name:</label>
		<input type="search" value = "{{ things.plant_name }}" name="plant_name" readonly /></input></p>

		<p><label> Grade:</label>
		<input type="search" value = "{{ things.grade }}" name="plant_name" readonly /></input></p>

		<p><label> Requested Quantity:</label>
		<input type="search" value = "{{ things.quantity|to_int }} {{ things.units }}" readonly /></input></p>

		

		<p><label> Confirmed Quantity: </label>
		<input type="search" id="quan" name="confirmed_quantity" value="{{things.confirmed_quantity}} {{ things.units }}"readonly/></input></p>
		<!--
		<input type="search" id="quan_total" value="{{things.quantity_harvested}}" hidden/></input>
		<p><label> Units:</label>
		<input type="search" id="unit" value = "{{ things.units }}" name="units" readonly /></input></p>
		-->

		<p><label> Price per Unit: </label>
		<input type="search" id="total" name="total_amount" value="{{ things.confirmed_quantity|price_per_unit:things.total_amount|money_format }}" readonly></input>
		</p>


		<p><label> Total Amount: </label>
		<input type="search" id="total" name="total_amount" value="{{ things.total_amount|money_format }}" readonly></input>
		</p>



		<br><hr class="solid"/><br>
		<center>DOWNPAYMENT DETAILS</center><br>
		<p><label> Downpayment Amount(25% Fixed):</label>
		<input type="search"  name="total_downpayment" value="{{things.total_downpayment|money_format }}"readonly /></input></p>

		<p><label> Downpayment Due: </label>
		<input type="search" name="dp_due" value="{{ things.dp_due|date_format }}" readonly/></input></p>

		<br><hr class="solid"/><br>
		<center>DELIVERY DETAILS</center><br>
		<p><label> Requested Date Arrival:</label>
		<input type="search" value = " {{ things.date_needed|date_format }}" name="batch_id" readonly /></input></p>

		<p><label> Expected Date Arrival:</label>
		<input type="search"value="{{things.expected_date_arrival|date_format}}" readonly/></input></p>

		<p><label> Delivery Fee: </label>
		<input type="search"  id="delivery_fee" name="delivery_fee" value="{{things.delivery_fee|money_format }}"readonly /></input></p>

		<p><label> Total Payables:</label>
		<input type="search"  name="balance_to_pay" value="{{things.balance_to_pay|money_format }}"readonly /></input>
		</p>

		<br><hr class="solid"/><br>
		<center>DELIVERY INFO DETAILS</center><br>
		{% if delivery_info %}
			<div class="cool_form">
				{% for things4 in delivery_info %}
				
				
				
				<p><label>Order ID:</label>
				<input type=search value="{{ u_order_id }}" readonly/></p>

				<p><label>Delivery Status</label>
				<input type="search" id="ds" name="delivery_status" value="{{ things4.delivery_status }}" readonly/></p>

				<p><label>Details (format: mm/dd/yyyy - Task;): </label><br>
				<textarea id="d" name="details" rows="6" cols="40" readonly>{{ things4.details }}</textarea></p>

				<p><label>Date Arrived</label>
				<input type=search id="da" name="date_arrived" value="{{ things4.date_arrived|date_format }}" readonly/></p>
				{% endfor %}
				
				
			</div>
			<br><br>
		{% else %}
			<p><i style="color: red">No Delivery Info recorded for this order yet</i></p>
			
			<br><br>
		{% endif %}

		<br><hr class="solid"/><br>
		<center>REFUND DETAILS</center><br>
		{% if refund_details %}
			
			<br><br>
			<div class="admin-table">
			<table class="table-striped">
				<thead>
					<th>Date from</th>
					<th>Date to</th>
					<th>Refund Percentage</th>
				</thead>
				<tbody>
					{% for i in refund_details %}
					<td>{{ i.date_from|date_format }}</td>
					<td>{{ i.date_to|date_format }}</td>
					<td>{{ i.refund_percentage }}</td>

				</tbody>
					{% endfor %}
			</table>
			</div>
			<br><br>
		{% else %}
			<p><i style="color: red">No Refund Details recorded for this order yet</i></p>
			
			<br><br>
		{% endif %}

		


	</div>
	<div  class="admin_right">
		<center>PAYMENT DETAILS</center><br>
				{% if payment_methods %}
				{% for j in payment_methods %}
				{% if j.is_selected == 1 %}
				<div class="cool_form">
					<p><label>Selected Payment Method:</label>
					<input type=search value="{{ j.payment_method }}" readonly/></p>

					<p><label>Total Amount Paid:</label>
					<input type="search" id="payment_method"  name="payment_method" value="{{ j.total_amount_paid|money_format }}" readonly/></p>

					<p><label>Total Payables Left</label>
					<input type=search id="account_number" name="account_number" value="{{ things.balance_to_pay|money_format }}" readonly/></p>

					<p><label>Down Payment Status</label>
					<input type=search id="account_number" name="account_number" value="{{ things.dp_paid|status_format }}" readonly/></p>

					<p><label>Full Payment Status</label>
					<input type=search id="account_name" name="account_name" value="{{ things.fp_paid|status_format }}" readonly/></p></div>
				{% endif %}
				{% endfor %}
				{% else %}
				<p><i style="color: red">User did not pay for this order yet</i></p>
				{% endif %}
				<br>
		{% if payments_done %}
		<hr><br>
		<center>PAYMENTS DONE</center><br>
		
			{% for jj in payments_done %}

				<div class="cool_form">
					<p><label>Payment No:</label>
					<input type=search value="{{ jj.payment_done_id }}" readonly/></p>

					<p><label>Amount Paid:</label>
					<input type="search" id="payment_method"  name="payment_method" value="{{ jj.amount_paid|money_format }}" readonly/></p>

					<p style="font-size:17px">Click <a href="{{ jj.proof_of_payment }}" download><u>here</u></a> to download Proof of payment</p>

					<p><label>Admin Status</label>
					<input type=search id="account_name" name="account_name" value="{{ jj.is_confirmed }}" readonly/></p>	

					<p><label>Date Paid</label>
					<input type=search id="account_name" name="account_name" value="{{ jj.date_paid|date_format }}" readonly/></p>								
				</div>
			<br>
			{% endfor %}
			<br><br>
			
		{% else %}
			
		<p><i style="color: red">No Payment Methods recorded for this order yet</i></p>
			
			<br><br>
		{% endif %}


		{% if redelivery_data %}
		<hr><br>
		<center>REDELIVERY REQUESTS</center><br>
		
		<div class="cool_form">
		{% for rd_data in redelivery_data %}
		<p><label>Quantity Delivered:</label>
			<input type=search value="{{ rd_data.confirmed_quantity }} {{ rd_data.units }}" readonly/></p>
			<p><label>Quantity Received:</label>
			<input type="search" id="payment_method"  name="payment_method" value="{{ rd_data.quantity_received }} {{ rd_data.units }}" readonly/></p>
			<p><label>Quantity Returned:</label>
			<input type=search id="account_name" name="account_name" value="{{ rd_data.returned_quantity }} {{ rd_data.units }}" readonly/></p>		
			<p><label>Reason for Redelivery:</label>
			<input type=search id="account_name" name="account_name" value="{{ rd_data.reason_for_redelivery }}" readonly/></p>		
			<p style="font-size:17px">Click <a href="{{ rd_data.proof_img }}" download><u>here</u></a> to download Proof of Damage</p>
			<p><label>Request Date</label>
			<input type=search id="account_name" name="account_name" value="{{ rd_data.request_date|date_format }}" readonly/></p>
			<p><label>Redelivery Status: </label>
			<input type=search id="account_name" name="account_name" value="{{ rd_data.is_accepted|accept_format }}" readonly/></p>
			{% if rd_data.is_accepted == 3 %}
			<p><label>Reason: </label>
			<input type=search id="account_name" name="account_name" value="{{ rd_data.reason_decline }}" readonly/></p>
			{% endif %}
			{% if rd_data.re_delivery_status %}
			<br><hr><br>
			<center><b>REDELIVERY INFO</b></center>	<br>
			<p><label>Customer Name:</label><input type="search" value="{{ rd_data.customer_name }}" name="re_delivery_status" readonly></input></p>
			<p><label>Contact Information:</label><input type="search" value="{{ rd_data.contact_info }}" name="re_delivery_status" readonly></input></p>
			<p><label>Shipping Address:</label><input type="search"  value="{{ rd_data.shipping_address }}"  readonly></input></p>
							
			<p><label>Redelivery Status:</label><input type="search" value="{{ rd_data.re_delivery_status }}" name="re_delivery_status" readonly></input></p>
			<p><label>Details: (FORMAT: MM/DD/YYYY - TASK;)</label>
			<textarea id="d" name="details" rows="6" cols="40" readonly>{{ rd_data.details }}</textarea></p>
			
			<p><label>Date Arrived:</label><input type="search"  value="{{ rd_data.date_arrived|date_format }}"  readonly></input></p>
			<p><label>Date Shipped:</label><input type="search"  value="{{ rd_data.date_shipped|date_format }}"  readonly></input></p>
			<p><label>Expected Arrival:</label><input type="search"  value="{{ rd_data.expected_arrival|date_format }}" readonly></input></p>
			{% else %}
			<br><center><p><i style="color: red; font-size: 17px;">No Delivery Info for this Redelivery yet</i></p></center>
			{% endif %}
		{% endfor %}
		</div>
		{% endif %}

		{% if refund_data %}
		<hr><br>
		<center>REFUND REQUESTS</center><br>
		
		<div class="cool_form">
			{% for r_data in refund_data %}
			<p><label>Quantity Delivered:</label>
			<input type=search value="{{ r_data.confirmed_quantity }} {{ r_data.units }}" readonly/></p>
			<p><label>Quantity Received:</label>
			<input type="search" id="payment_method"  name="payment_method" value="{{ r_data.quantity_received }} {{ r_data.units }}" readonly/></p>
			<p><label>Quantity Returned:</label>
			<input type=search id="account_name" name="account_name" value="{{ r_data.returned_quantity }} {{ r_data.units }}" readonly/></p>		
			<p><label>Reason for refund:</label>
			<input type=search id="account_name" name="account_name" value="{{ r_data.reason_for_refund }}" readonly/></p>		
			<p style="font-size:17px">Click <a href="{{ r_data.proof_refund }}" download><u>here</u></a> to download Proof of Damage</p>

			<p><label>Request Date</label>
			<input type=search id="account_name" name="account_name" value="{{ r_data.request_date|date_format }}" readonly/></p>	

			<p><label>Refund Status</label>
			<input type=search id="account_name" name="account_name" value="{{ r_data.is_accepted|accept_format }}" readonly/></p>
			{% if r_data.is_accepted == 3 %}
			<p><label>Reason: </label>
			<input type=search id="account_name" name="account_name" value="{{ r_data.reason_decline }}" readonly/></p><br>
			{% else %}
			<div class="refund_stuff">
				<p>Refund Formula: <b>(Units Returned ÷ Units Sold) x 60</b></p>
				<p>Total Product Price: <b>{{ r_data.total_amount|money_format }}</b></p>
				<p>Quantity Returned: <b>{{ r_data.returned_quantity }} {{ r_data.units }}</b></p>
				<p>Refund Percentage: <b>{{ r_data.returned_quantity|calc_refund_p:r_data.quantity }}</b></p>
				<p>Refund Amount: <b><u>{% calc_rf r_data.total_amount r_data.returned_quantity r_data.quantity %}</u></b></p>
			</div>
			<br>
			{% endif %}
			
			
			{% if r_data.pmfr_id %}
			<br><hr><br>
			<center> REFUND INFO </center>
			<p><label>Payment Status</label>
			<input type=search id="account_name" name="account_name" value="Paid" readonly/></p>
			<p><label>Payment Method</label>
			<input type=search id="account_name" name="account_name" value="{{ r_data.payment_method }}" readonly/></p>
			
			<p style="font-size:17px">Click <a href="{{ r_data.proof_receipt }}" download><u>here</u></a> to download Proof of Payment</p>
			{% else %}
			<hr>
			<center> Refund Info </center>
			<p><label>Payment Status</label>
			<input type=search id="account_name" name="account_name" value="Not yet Paid" readonly/></p>
			{% endif %}		


			{% endfor %}
		</div>
		{% endif %}






		
	{% endfor %}
	</div>
	</form>
</div>
{%endblock%}