{% extends 'navbar.html' %} 
{% block content %}{% load filters %}
{% if rf_form.errors %}
	ul>
	{% for error in rf_form.errors %} 
	<script>alert("Error missing: {{ error }}");</script>
	{% endfor %}
	</ul>
{% endif %}  
{% if messages %}
<div >
	{% for message in messages %}
	{% if message %}
		<script>alert("{{ message }}");</script>
	{% endif %}
	{% endfor %}
</div>
{% endif %} 
<style>
	label{
		font-size: 17px;
		font-weight: bold;
	}
	.button_admin{
		background-color: #378DFC;
		font-weight: bold;
		padding: 7px 8px 7px 8px;
		
	}

	center{
		font-size: 17px;
	}
	.admin_left{
		margin-left: 30px;
	}
	.admin_right{
		margin-left: 10px;
	}
	.submit_button {
	  margin-top: 15px;
	  
	  padding: 6px 0px 6px 0px;
	  width: 100%;
	  border: 2px solid grey;
	  color: black;
	  border-radius: 7px;
	  transition: 0.25s;
	  cursor: pointer;
	  font-family: "Source Sans Pro", sans-serif;
	  font-size:  16px;
	  background: #378DFC; 
	  margin-bottom: 70px;
	}
	.submit_button:hover {
	  color: black;
	  font-weight: bold;
	  background: #D9E3F1;
	}

	.mini_button {
	  margin-top: 15px;
	  margin-right: 182px;
	  float: right;
	  padding: 6px 0px 6px 0px;
	  width: 20%;
	  border: 2px solid grey;
	  color: black;
	  border-radius: 7px;
	  transition: 0.25s;
	  cursor: pointer;
	  font-family: "Source Sans Pro", sans-serif;
	  font-size:  16px;
	  background: #378DFC; 
	  margin-bottom: 70px;
	}
	.mini_button:hover {
	  color: black;
	  font-weight: bold;
	  background: #D9E3F1;
	}
	
</style>
<br>
<center>VIEW DELIVERY INFO</center>

<div class="admin-container">
<div class="admin_left">
{% if is_paid %}
<form class="cool_form" method="POST">{% csrf_token %}
{% else %}
<form class="cool_form" onsubmit="return confirm('User is not fully paid in this order yet, you sure you want to continue?');"method="POST">{% csrf_token %}
{% endif %}
	{% for things in data %}
	
	{% if is_paid %}
	<p style=" font-size:16px">Full payment Status: <b>Paid</b></p>
	{% else %}
	<p style=" font-size:16px">Full payment Status: <b>Not enough Payment</b></p>
	{% endif %}
	<input type=search name="f_order_id" value="{{ f_order_id }} "hidden/>
	
	<p><label>Order ID:</label>
	<input type=search value="{{ u_order_id }}" readonly/></p>

	<p><label>Delivery Status</label>
	<input type="search" id="ds" name="delivery_status" value="{{ things.delivery_status }}" readonly/></p>

	<p><label>Details (format: mm/dd/yyyy - Task;):</label> <br><i style="color: red; font-size:16px">* Use the form on the right side to add information in this field <br>* Only use this field to edit</i>
	<textarea id="d" name="details" rows="6" cols="40" value="{{ things.details }}" readonly>{{ things.details }}</textarea></p>

	<p><label>Date Arrived </label>(<i style="color: red; font-size:16px">put "N/A" in the field if <br>order is not received yet</i>)
	<input type=search id="da" name="date_arrived" value="{{ things.date_arrived|date_format }}" readonly/></p>
	{% endfor %}
	<button class="submit_button" id="edit_button" type='button' onclick="Edit()" >EDIT</button>
	<button class="submit_button" id="save_button" type="submit" hidden>Save</button>
	
</form>
</div>
<div class="admin_right">
	{% if is_paid %}
	<form class="cool_form" action="{% url 'add_deliv_info' f_order_id u_order_id %}" method="POST">{% csrf_token %}
	{% else %}
	<form class="cool_form" action="{% url 'add_deliv_info' f_order_id u_order_id %}" onsubmit="return confirm('User is not fully paid in this order yet, you sure you want to continue?');" method="POST">{% csrf_token %}
	{% endif %}
		<p><label style="margin-left: 150px;">Date: </label><input style="margin-right: 180px;" type="date" name="d_date"required /></p>
		<p><label style="margin-left: 150px;">Task: </label><input style="margin-right: 180px;" type="search" name="d_details" required /></p>
		<button class="mini_button"  type="submit" >Add details</button>
	</form>
</div>
</div>

<script>
function Edit(){
	alert("You can now edit")
	document.getElementById('edit_button').setAttribute('hidden', true);
	document.getElementById('save_button').removeAttribute("hidden");
	
	document.getElementById('d').removeAttribute("readonly");
	document.getElementById('d').setAttribute('required', true);

	document.getElementById('ds').removeAttribute("readonly");
	document.getElementById('ds').setAttribute('required', true);

	document.getElementById('da').removeAttribute("readonly");
	document.getElementById('da').setAttribute('required', true);
}

</script>
{%endblock%}